<div class="banner_area_type3 bnr_overlay2">
  <div class="holder">
      <div class="hr">
          <div class="vc">
              <div class="banner_section_title align-center">
                  <div class="section_sub_title">
                      <p>Booking</p>
                  </div>
                  <h1>Find Your Desire Room</h1>
              </div>
          </div>
      </div>
      <div class="hr">
          <div class="vc">
              <div class="bradecrumbe">
                  <ul class="breadcrumb justify-content-center justify-content-cd--center">
                      <li>
                          <a routerLink='/'>
                              Home
                          </a>
                      </li>
                      <li class="active">
                        Booking
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<section class="main-content bkng">
  <div class="container">
    <div class="page-content">
      <div class="booking-tabs-list">
        <ul class="nav nav-tabs" id="myTab3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active"> <span class="nom"></span>CHOSE ROOM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"> <span class="nom"></span> BOOKING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"> <span class="nom"></span> CHECKOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><span class="nom"></span> THANK YOU</a>
          </li>
        </ul>
      </div>
      <!--booking-tabs-list end-->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="choose-room" role="tabpanel" aria-labelledby="choose-tab">
          <div class="tab-contentt">
            <div class="row">
              <div class="col-lg-4">

                <div class="sidebar">
                  <div class="avail-sec">
                    <!-- <form> -->
                      <div class="row mb-2">
                        <div class="col-lg-12 col-sm-12">

                              <!-- <div class="form-group">
                                 <label for="city" class="text-white">Destination/City name</label>
                                 <input type="text" placeholder="Search City"
                                    class="form-control form-control-alternative" value="{{bookingCity}}"
                                    [(ngModel)]="bookingCity" readonly="readonly">
                              </div> -->
                              <div class="form-group hidden">
                                 <div class="input-group">
                                    <input name="datepicker" class="form-control" ngbDatepicker
                                       #datepicker="ngbDatepicker" [autoClose]="true"
                                       (dateSelect)="onDateSelection($event)" [displayMonths]="1"
                                       [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!"
                                       [minDate]="bookingMinDate" [maxDate]="bookingMaxDate">
                                    <ng-template #t let-date let-focused="focused">
                                       <span class="custom-day" [class.focused]="focused"
                                          [class.range]="isRange(date)"
                                          [class.faded]="isHovered(date) || isInside(date)"
                                          (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                          {{ date.day }}
                                       </span>
                                    </ng-template>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label for="check-in-date" class="text-white">Check-in date</label>
                                 <input #dpFromDate type="text" class="form-control text-default"
                                    placeholder="yyyy-mm-dd" name="dpFromDate" (click)="datepicker.toggle()"
                                    [value]="formatter.format(fromDate) | date:'EEE, MMM d, y'" autocomplete="off"
                                    (input)="fromDate = validateInput(fromDate, dpFromDate.value)" required>
                                 <!-- <div class="input-group-append">
                                 <button class="btn btn-outline-secondary calendar"
                                    type="button"></button>
                              </div> -->
                              </div>

                              <div class="form-group">
                                 <label for="check-out-date" class="text-white">Check-out date</label>
                                 <input #dpToDate type="text" class="form-control text-default"
                                    placeholder="yyyy-mm-dd" name="dpToDate" (click)="datepicker.toggle()"
                                    [value]="formatter.format(toDate) | date:'EEE, MMM d, y'" autocomplete="off"
                                    (input)="toDate = validateInput(toDate, dpToDate.value)" required>
                                 <!-- <div class="input-group-append" (click)="datepicker.toggle()">
                              <button class="btn btn-outline-secondary calendar"
                                 type="button"></button>
                              </div>-->
                              </div>
                              <div class="clearfix"></div>
                            </div>
                            <!--check-form end-->
                          </li>
                          <li class="item-cont">
                            <div class="check-form">
                              <h4 class="text-center">Children</h4>
                              <div class="det">
                                <div class="handle-counter" id="handleCounter">
                                  <ul>
                                    <li class="input-fieldd" style="color: #ffffff;
                                    font-size: 35px;
                                    font-weight: 600;">
                                      <input style="display: none" type="number" class="stepper_input"
                                        data-ref="input-stepper-field" id="group_childs" name="group_adults" min="1"
                                        max="30" value="2" data-group-adults-count=""
                                        [(ngModel)]="booking.noOfChildren">{{booking.noOfChildren}}

                                    </li>
                                    <li class="counter-control">
                                      <!-- <button class="counter-plus btn">
                                        <i class="fa fa-angle-up"></i>
                                      </button>
                                      <button class="counter-minus btn" disabled="">
                                        <i class="fa fa-angle-down"></i>
                                      </button> -->
                                      <button class="btn btn-outline-default btn-sm" type="button"
                                        (click)="booking.noOfChildren = booking.noOfChildren + 1;"
                                        [disabled]="booking.noOfChildren >=30">
                                        <!-- <span class="button_text">+</span> -->
                                        <i class="fa fa-angle-up"></i>
                                      </button>
                                      <button class="btn btn-outline-default btn-sm" type="button"
                                        (click)="booking.noOfChildren = booking.noOfChildren - 1;"
                                        [disabled]="booking.noOfChildren <=1">
                                        <!-- <span class="button_text">−</span> -->
                                        <i class="fa fa-angle-down"></i>
                                      </button>

                                    </li>
                                  </ul>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                            <!--check-form end-->
                          </li>
                          <li class="item-cont">
                            <div class="check-form">
                              <h4 class="text-center">Room(s)</h4>
                              <div class="det">
                                <div class="handle-counter" id="handleCounter">
                                  <ul>
                                    <li class="input-fieldd" style="color: #ffffff;
                                    font-size: 35px;
                                    font-weight: 600;">
                                      <input style="display: none" type="number" class="stepper_input"
                                        data-ref="input-stepper-field" id="group_adults" name="group_adults" min="1"
                                        max="30" value="2" data-group-adults-count=""
                                        [(ngModel)]="booking.noOfRooms">{{booking.noOfRooms}}

                              <div class="form-group">
                                 <label for="no-of-guest" class="text-white">{{DiffDate}} night(s) stay</label>
                                 <div data-visible="accommodation,flights" class="input-group guests">
                                    <div data-component="index/guest-errors" data-id="main"
                                       data-view-id="accommodation" role="alert">
                                    </div>
                                    <div class="input-box" (click)="toggleRoomsAndOccupancy()">

                                       <label class="text-default ">
                                          <span class="guests_count">
                                             <span data-adults-count="">{{adults}} adults</span>
                                             <span data-visible="accommodation">
                                                &nbsp;·&nbsp;
                                                <span data-children-count="">{{children}} children</span>
                                             </span>
                                             <span data-visible="accommodation">
                                                &nbsp;·&nbsp;
                                                <span data-room-count="">{{noOfrooms}} room</span>
                                             </span>
                                          </span>
                                       </label>
                                    </div>
                                    <div class="list-holder roomsAndOccupancy" role="region"
                                       aria-label="Rooms and occupancy" *ngIf="roomsAndOccupancy == true">
                                       <div class="item business-text p-4">
                                          <div class="row">
                                             <div class="col-10">

                                             </div>
                                             <div class="col-2">
                                                <button class="btn btn-default btn-sm"
                                                   (click)="toggleRoomsAndOccupancy()">X</button>
                                             </div>
                                          </div>
                                          <div class="clearfix" data-render="">
                                             <div class="group_field group_field-adults">

                                                <div class="row stepper" data-component="InputStepper">
                                                   <div class="col-6 stepper_title-wrapper text-default">
                                                      <label class="stepper_title"
                                                         for="group_adults">Adults</label>
                                                   </div>
                                                   <div class="col-6">
                                                      <input style="display: none" type="number"
                                                         class="stepper_input" data-ref="input-stepper-field"
                                                         id="group_adults" name="group_adults" min="1" max="30"
                                                         value="2" data-group-adults-count=""
                                                         [(ngModel)]="adults">
                                                      <button class="btn btn-outline-primary btn-sm" type="button"
                                                         (click)="adults = adults - 1; booking.noOfPersons = adults;"
                                                         [disabled]="adults <=1">
                                                         <span class="button_text">−</span>
                                                      </button>
                                                      <span class="stepper_display text-default"
                                                         aria-hidden="true">{{adults}}</span>
                                                      <button class="btn btn-outline-primary btn-sm" type="button"
                                                         (click)="adults = adults + 1; booking.noOfPersons = adults; planDetails"
                                                         [disabled]="(maxOccupancy + children) * noOfrooms <= adults">
                                                         <span class="button_text">+</span>
                                                      </button>
                                                      <!-- <span class="stepper_display" aria-live="assertive" >{{adults}} Adults</span> -->
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="group_field group-children ">
                                                <div class="row stepper" data-component="InputStepper">
                                                   <div class="col-6 stepper_title-wrapper">
                                                      <label class="stepper_title text-default"
                                                         for="group_children">Children</label>
                                                   </div>
                                                   <div class="col-6">
                                                      <input style="display: none" type="number"
                                                         class="stepper_input" data-ref="input-stepper-field"
                                                         id="group_adults" name="group_adults" min="1" max="30"
                                                         value="2" data-group-adults-count="">
                                                      <button class="btn btn-outline-primary btn-sm" type="button"
                                                         (click)="children = children - 1; booking.noOfChildren = children;"
                                                         [disabled]="children <=0">
                                                         <span class="button_text">−</span>
                                                      </button>
                                                      <span class="stepper_display text-default"
                                                         aria-hidden="true">{{children}}</span>
                                                      <button class="btn btn-outline-primary btn-sm" type="button"
                                                         (click)="children = children + 1; booking.noOfChildren = children; "
                                                         [disabled]="(maxOccupancy + children)* noOfrooms <= children">
                                                         <span class="button_text">+</span>
                                                      </button>
                                                      <!-- <span class="stepper_display" aria-live="assertive" id="group_children_desc">{{children}} Children</span> -->
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="group_field group_field-rooms">
                                                <div class="row stepper" data-component="InputStepper">
                                                   <div class="col-6 stepper_title-wrapper">
                                                      <label class="stepper_title text-default"
                                                         for="no_rooms">Rooms</label>
                                                   </div>
                                                   <div class="col-6">
                                                      <input style="display: none" type="number"
                                                         class="stepper_input" data-ref="input-stepper-field"
                                                         id="group_adults" name="group_adults" min="1" max="30"
                                                         value="2" data-group-adults-count="">
                                                      <button class="btn btn-outline-primary btn-sm" type="button"
                                                         (click)="noOfrooms = noOfrooms - 1; booking.noOfRooms = noOfrooms;"
                                                         [disabled]="noOfrooms <=1">
                                                         <span class="button_text">−</span>
                                                      </button>
                                                      <span class="stepper_display text-default"
                                                         aria-hidden="true">{{noOfrooms}}</span>
                                                      <button class="btn btn-outline-primary btn-sm" type="button"
                                                         (click)="noOfrooms = noOfrooms + 1; booking.noOfRooms = noOfrooms;"
                                                         [disabled]="maxSelectRoom <= noOfrooms">
                                                         <span class="button_text">+</span>
                                                      </button>
                                                      <!-- <span class="stepper_display" id="no_rooms_desc">{{noOfrooms}} Rooms</span> -->
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- <h6>{{checkAvailabilityStatusName}}</h6> -->
                              <!-- <button class="btn btn-secondary w-100" type="button"
                                 (click)="checkingAvailability()">Check Availability</button> -->
                              <!-- <button title="" class="btn btn-secondary w-100 my-2 select-plan"
                                 (click)="bookRoomNow()"
                                 [disabled]=" checkAvailabilityStatus == false || planSelected == false">Book Now
                                 <i class="la la-arrow-right"></i></button> -->

                        </div>
                     </div>
                      <div class="checking-form">
                        <ul class="checkform">

                          <li class="check-avail">
                            <a (click)="getAvailableRoom()" title="" class="check-status">CHECK AVAILABILITY</a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                    <!-- </form> -->
                  </div>
                  <!--avail-sec end-->
                  <!-- <div class="filter-field">
                                      <label for="amount">Max Night Price</label>
                                      <div id="slider-range"></div>
                                      <input type="text" id="amount" name="roomPrice" readonly>
                                  </div> -->

                  <!--widget-filter end-->
                  <div class="services_select">
                    <!-- <div class="seachby">
                      <h3>Services</h3>
                      <ul>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc" id="c1" >
                            <label for="c1">
                              <span></span>
                              <b>King Beds</b>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc" id="c2">
                            <label for="c2">
                              <span></span>
                              <b>Television</b>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc" id="c3">
                            <label for="c3"><span></span><b>Bike Rental</b></label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc" id="c4">
                            <label for="c4"><span></span><b>Welcome Drink</b></label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc" id="c5">
                            <label for="c5"><span></span><b>Swimming Pool</b></label>
                          </div>
                        </li>
                      </ul>
                      <h3>Extra Services</h3>
                      <ul>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc2" id="c11" >
                            <label for="c11"><span></span><b>Breakfast</b></label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc2" id="c22">
                            <label for="c22"><span></span><b>Wifi</b></label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc2" id="c33">
                            <label for="c33"><span></span><b>Laundry</b></label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc2" id="c44">
                            <label for="c44"><span></span><b>Sea View</b></label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc2" id="c55">
                            <label for="c55"><span></span><b>Beach Loungers</b></label>
                          </div>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div> -->
                  </div>
                  <!--services_select end-->
                </div>
                <!--sidebar end-->
              </div>
              <div class="col-lg-8">
                <div class="main-dv">
                  <div class="main-dv-head">
                    <ul class="pc-list">
                      <li>
                        <div class="lang-slct">
                          <div class="custom-select">
                            <select name="priceFilter" id="priceFilter" class="priceFilter">
                              <option value="0">Price: Low to High</option>
                              <option value="1">5000</option>
                              <option value="2">10000</option>
                              <option value="3">15000</option>
                              <option value="4">25000</option>
                            </select>
                          </div>
                        </div>
                        <!--lang-select end-->
                      </li>
                      <li>
                        <div class="lang-slct">
                          <div class="custom-select">
                            <select name="sizeFilter" id="sizeFilter" class="sizeFilter">
                              <option value="0">Size: Large to Small</option>
                              <option value="1">15000</option>
                              <option value="2">35000</option>
                              <option value="3">45000</option>
                              <option value="4">55000</option>
                            </select>
                          </div>
                        </div>
                        <!--lang-select end-->
                      </li>
                    </ul>
                    <!--pc-list end-->
                    <ul class="nav nav-tabs" id="myTab1" role="tablist">
                      <!-- <li class="nav-item">
                          <a class="nav-link" id="th-tabb" data-toggle="tab" href="#th-tab" role="tab" aria-controls="th-tab" aria-selected="false"><i class="fa fa-th"></i></a>
                        </li>
                      <li class="nav-item">
                          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><img src="assets/images/bar-icon1.png" alt=""></a>
                        </li> -->
                      <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                          aria-controls="profile" aria-selected="false"><img src="assets/images/bar-icon2.png"
                            alt=""></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <!--main-dv-head end-->
                  <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade" id="th-tab" role="tabpanel" aria-labelledby="th-tab">
                      <div class="tb-detaiils st_4">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let room of rooms;">

                            <div class="room-details" >
                              <img src="{{room.imageList[0].url}}" alt="">

                              <div class="room-hd">
                                <h4>FROM
                                  {{room.roomOnlyPrice | currency: token.getProperty().localCurrency.toUpperCase()}}
                                </h4>
                                <h3>{{room.name}}</h3>
                              </div>
                              <!-- routerLink="/booking/booking" -->
                              <a title="" (click)="onRoomBooking(room)" class="booking-btn text-white">BOOK NOW <i
                                  class="la la-arrow-right"></i></a>
                            </div>
                            <!--room-details end-->
                          </div>


                        </div>
                      </div>
                      <!--tb-detaiils end-->
                    </div>
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div class="tb-detaiils">
                        <div class="row">
                          <div class="col-lg-6 col-md-6" *ngFor="let room of rooms;">
                            <div class="room_details">
                              <div class="room-caroz">
                                <div class="room_img">
                                  <img src="{{room.imageList[0].url}}" alt="">

                                  <span
                                    class="price-tag">{{ booking.roomPrice ||room.roomOnlyPrice  | currency: token.getProperty().localCurrency.toUpperCase()}}<b>/night</b></span>
                                </div>
                                <!--room_img end-->

                              </div>
                              <!--room-caroz end-->
                              <div class="room_info">
                                <h3><a href="#" title="">{{room.name}}</a></h3>
                                <ul class="ppt-list">
                                  <li>
                                    <img src="assets/images/icy1.png" alt="">
                                    {{room.maximumOccupancy}} GUESTS
                                  </li>
                                  <li>
                                    <img src="assets/images/icy2.png" alt="">
                                    15 Ft²
                                  </li>
                                </ul>
                                <!--ppt-list end-->
                                <p>{{room.description}} </p>
                                <ul class="fct-list">
                                  <li>
                                    <span data-toggle="tooltip" data-placement="top" title="Wifi"><img
                                        src="assets/images/ci1.png" alt=""></span>
                                  </li>
                                  <li>
                                    <span data-toggle="tooltip" data-placement="top" title="Plane"><img
                                        src="assets/images/ci2.png" alt=""></span>
                                  </li>
                                  <li>
                                    <span data-toggle="tooltip" data-placement="top" title="Car"><img
                                        src="assets/images/ci3.png" alt=""></span>
                                  </li>
                                  <li>
                                    <span data-toggle="tooltip" data-placement="top" title="Breakfast"><img
                                        src="assets/images/ci4.png" alt=""></span>
                                  </li>
                                </ul>
                                <!--fct-list end-->
                                <a title="" (click)="onRoomBooking(room)" class="lnk-default">Book Now <i
                                    class="la la-arrow-right"></i></a>
                              </div>
                              <!--room_info end-->
                            </div>
                            <!--room-details end-->
                          </div>

                        </div>
                      </div>
                      <!--tb-detaiils end-->
                    </div>
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <div class="tb-detaiils" *ngFor="let room of rooms;">

                        <div class="tb-row">
                          <div class="room_details">
                            <div class="room-caroz">
                              <div class="room_img">
                                <img src="{{room.imageList[0].url}}" alt="">

                                <span
                                  class="price-tag">{{ room.roomOnlyPrice | currency: token.getProperty().localCurrency.toUpperCase():'symbol':'1.2-2' }}<b>/night</b></span>
                              </div>
                              <!--room_img end-->

                            </div>
                            <!--room-caroz end-->
                            <div class="room_info">
                              <h3><a href="#" title="">{{room.name}}</a></h3>
                              <ul class="ppt-list">
                                <li>
                                  <img src="assets/images/icy1.png" alt="">
                                  {{room.maximumOccupancy}} GUESTS
                                </li>
                                <li *ngIf="room.ratesAndAvailabilityDtos !== null">
                                  <p>Available: {{room.ratesAndAvailabilityDtos[0].noOfAvailable}}
                                    room<span *ngIf="room.ratesAndAvailabilityDtos[0].noOfAvailable > 1">s</span>
                                  </p>
                                </li>
                              </ul>
                              <!--ppt-list end-->
                              <p>{{room.description}} </p>
                              <div class="fct-dv" *ngIf="room.ratesAndAvailabilityDtos !== null">
                                <h6 class="text-default"><b>Plan:</b></h6>
                                <div *ngFor="let rates of room.ratesAndAvailabilityDtos; let r= index; ">
                                  <div *ngIf="room.id == rates.roomId && r<1">
                                    <!-- <h6>{{ rates.date | date:'MMM d, y' }}</h6> -->
                                    <mat-radio-group aria-labelledby="example-radio-group-label"  name="planDetails" [(ngModel)]="planDetails"
                                      (ngModelChange)="onPlanSelected(planDetails, room)">
                                      <ng-container *ngFor="let plan of rates.roomRatePlans; let p= index;">
                                        <mat-radio-button  [value]="plan" (click)="booking.roomName = rates.roomName;
                                        booking.roomId = room.id;
                                        booking.roomPrice = plan.amount;
                                        selectedRoomName = rates.roomName;
                                        booking.roomType = rates.roomName;
                                        maxSelectRoom = rates.noOfAvailable;
                                        maxOccupancy = room.maximumOccupancy;
                                         ">
                                          {{plan.name}}

                                        </mat-radio-button>

                                      </ng-container>

                                    </mat-radio-group>
                                    <div *ngIf="planDetails">
                                      <h6 *ngIf="planDetails.roomId == room.id" >Price:
                                        {{ planDetails.amount * DiffDate * noOfrooms | currency:
                                          token.getProperty().localCurrency.toUpperCase():'symbol':'1.2-2' }} <div style="color: #f5365c;"
                                          *ngIf="hasPercentage(room.roomOnlyPrice, planDetails.amount) == true">
                                          ({{ ((room.roomOnlyPrice - planDetails.amount)/ room.roomOnlyPrice) * 100 }}%
                                          Discount)</div>
                                      </h6>
                                      <p *ngIf="planDetails.roomId == room.id">Note:
                                        {{ planDetails.description }}
                                      </p>
                                    </div>
                                    <!-- <div class="form-check" ngbRadioGroup name="radioBasic" [(ngModel)]="planDetails"
                                      (ngModelChange)="onPlanSelected(plan, room)"
                                      *ngFor="let plan of rates.roomRatePlans; let p= index;">
                                      <label ngbButtonLabel class="form-check-label text-default "
                                        style="padding: 0; white-space: normal ; " (click)="booking.roomName = rates.roomName;
                                      selectedRoomName = rates.roomName;
                                      booking.roomType = rates.roomName;
                                      maxSelectRoom = rates.noOfAvailable;
                                      maxOccupancy = room.maximumOccupancy;  ">
                                        <input ngbButton type="radio" class="form-check-input" [value]="plan">
                                        {{ plan.name }}</label>
                                      <h6>Price:
                                        {{ plan.amount * DiffDate * noOfrooms | currency:
                                            currency:'symbol':'1.2-2' }} <div style="color: #f5365c;"
                                          *ngIf="hasPercentage(room.roomOnlyPrice, plan.amount) == true">
                                          ({{ ((room.roomOnlyPrice -
                                               plan.amount)/room.roomOnlyPrice) * 100 }}%
                                          Discount)</div>
                                      </h6>
                                    </div> -->
                                    <div *ngIf="rates.roomRatePlans.length == 0">
                                      <p>Plan Not Available. Without plan you can't book room.
                                      </p>
                                    </div>
                                  </div>
                                </div>

                                <div class="clearfix"></div>
                              </div>

                              <div class="fct-dv" *ngIf="room.ratesAndAvailabilityDtos !== null">
                                <ul class="fct-list">
                                  <li>
                                    <span data-toggle="tooltip" data-placement="top" title="Wifi"><img
                                        src="assets/images/ci1.png" alt=""></span>
                                  </li>
                                  <li>
                                    <span data-toggle="tooltip" data-placement="top" title="Plane"><img
                                        src="assets/images/ci2.png" alt=""></span>
                                  </li>
                                  <li>
                                    <span data-toggle="tooltip" data-placement="top" title="Car"><img
                                        src="assets/images/ci3.png" alt=""></span>
                                  </li>
                                  <li>
                                    <span data-toggle="tooltip" data-placement="top" title="Breakfast"><img
                                        src="assets/images/ci4.png" alt=""></span>
                                  </li>
                                </ul>
                                <!--fct-list end-->
                                <button title="" (click)="onRoomBooking(room, i);
                                                booking.roomId = room.id;
                                                selectedRoomMaximumOccupancy = room.maximumOccupancy;
                                                selectedRoomAvailableNumber = room.noOfRooms;
                                                checkAvailabilityStatus = true;
                                                bookRoomNow() " class="lnk-default"
                                  [disabled]="planDetails == undefined || planDetails.roomId!== room.id">Book Now <i
                                    class="la la-arrow-right"></i></button>

                                <div class="clearfix"></div>
                              </div>
                              <div *ngIf="room.ratesAndAvailabilityDtos == null">
                                <h2>Room Not Available!</h2>
                              </div>
                            </div>
                            <!--room_info end-->
                            <div class="clearfix"></div>

                          </div>
                          <!--room-details end-->
                        </div>
                        <!--tb-row end-->


                      </div>
                      <!--tb-detaiils end-->
                    </div>
                  </div>

                  <!-- <div class="lc-pagination">
                    <nav>
                      <ul class="pagination">
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item">
                              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                              <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                    </nav>
                  </div>
                  lc-pagination end-->
                </div>
                <!--main-dv end-->
              </div>
            </div>
          </div>
          <!--tab-contentt end-->
        </div>
      </div>

    </div>
    <!--page-content end-->
  </div>
</section>
<!--main-content end-->
