<section class="banner_sec">
  <div class="room_slide_main">
    <div class="rom_img_slide">
      <img src="https://via.placeholder.com/1920x960" alt="">
    </div>
    <div class="rom_img_slide">
      <img src="https://via.placeholder.com/1920x960" alt="">
    </div>
    <div class="rom_img_slide">
      <img src="https://via.placeholder.com/1920x960" alt="">
    </div>
  </div><!--room_slide_imgs end-->
  <div class="room_rrate">
    <div class="container">
      <div class="room-single-head">
        <h3>Small Room</h3>
        <span>$165.00<b>/night</b></span>
        <div class="clearfix"></div>
      </div><!--room-single-head end-->
    </div>
  </div>
</section><!--pager-sec end-->

<section class="main-content">
  <div class="container">
    <div class="page-content">
      <div class="room-single-page">
        <div class="row">
          <div class="col-lg-8">
            <div class="room-single-details">
              <div class="room_descp_sec">
                <ul class="dep-head">
                  <li>
                    <img src="assets/images/c1.png" alt="">
                    <span>Twins Bed</span>
                  </li>
                  <li>
                    <img src="assets/images/c2.png" alt="">
                    <span>2 Adults  1 Children </span>
                  </li>
                  <li>
                    <img src="assets/images/c3.png" alt="">
                    <span>30m²</span>
                  </li>
                  <li>
                    <img src="assets/images/c4.png" alt="">
                    <span>City view</span>
                  </li>
                </ul><!--dep-head end-->
                <div class="clearfix"></div>
                <div class="descp_info">
                  <h3>Description</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel molestie nisl. Duis ac mi leo. Mauris at convallis erat. Aliquam interdum semper luctus. Aenean ex tellus, gravida ut rutrum dignissim, male-suada vitae nulla. Sed viverra, nisl dapibus lobortis porttitor, risus risus dictum risus, sed rhoncus orci urna dignissim leo. Cras id nunc nulla. Aliquam a tortor fermentum, finibus elit ac, dictum purus. Nulla mollis ex interdum commodo luctus. In hac habitasse platea dictumst. Quisque vel rutrum ipsum. </p>
                  <p> Praesent at imperdiet diam. Ut vel vulputate massa. Duis condimentum tincidunt tristique. Donec sollicitudin efficitur venenatis. Integer ex lectus, lobortis nec cursus ac, suscipit ut magna.</p>
                </div><!--descp_info end-->
                <div class="descp_info">
                  <h3>Services</h3>
                  <ul class="svx-list">
                    <li>40-inch Samsung® LED TV</li>
                    <li>Electronic safe with charging facility</li>
                    <li>Home™ Bluetooth MP3 Player</li>
                    <li>Iron and ironing board</li>
                    <li>Mini bar</li>
                    <li>Non-smoking</li>
                    <li>USB charging station</li>
                    <li>Wired and wireless broadband Internet access</li>
                  </ul>
                  <div class="clearfix"></div>
                </div><!--descp_info end-->
                <div class="descp_info">
                  <h3>Around The Hotel</h3>
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                      <div class="abt-dv">
                        <img src="https://via.placeholder.com/210x260" alt="">
                        <h3><a href="#" title="">Swimming Pool</a></h3>
                      </div><!--abt-dv end-->
                    </div>
                    <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                      <div class="abt-dv">
                        <img src="https://via.placeholder.com/210x260" alt="">
                        <h3><a href="#" title="">Restaurants</a></h3>
                      </div> -->
                      <!--abt-dv end-->
                    <!-- </div> -->
                    <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                      <div class="abt-dv">
                        <img src="https://via.placeholder.com/210x260" alt="">
                        <h3><a href="#" title="">Beauty & Health</a></h3>
                      </div> -->
                      <!--abt-dv end-->
                    <!-- </div> -->
                  </div>
                </div><!--descp_info end-->
              </div><!--room_descp_sec end-->
            </div><!--room-single-details end-->
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="avail-sec mgb-30">
                <form>
                  <div class="checking-form">
                    <ul class="checkform">
                      <li>
                        <div class="check-form">
                          <h4>CHECK-IN</h4>
                          <div class="det">
                            <b class="val-date">28</b>
                            <span>
                              <i class="month">Jun</i> <i class="year">2019</i>
                            </span>
                            <div class="clearfix"></div>
                          </div>
                          <input type="text" name="date-in" class="date-pick">
                          <a href="#" title="" class="arw_down"><i class="fa fa-angle-down"></i></a>
                          <div class="clearfix"></div>
                        </div><!--check-form end-->
                      </li>
                      <li>
                        <div class="check-form">
                          <h4>CHECK-OUt</h4>
                          <div class="det">
                            <b class="val-date">28</b>
                            <span>
                              <i class="month">Jun</i> <i class="year">2019</i>
                            </span>
                            <input type="text" name="date-out" class="date-pick">
                            <div class="clearfix"></div>
                          </div>
                          <a href="#" title="" class="arw_down"><i class="fa fa-angle-down"></i></a>
                          <div class="clearfix"></div>
                        </div><!--check-form end-->
                      </li>
                      <li class="item-cont">
                        <div class="check-form">
                          <h4>Guest</h4>
                          <div class="det">
                            <div class="handle-counter" id="handleCounter">
                                                <ul>
                                                    <li class="input-fieldd"><input type="text" value="01" data-num="1"></li>
                                                    <li class="counter-control">
                                                      <button type="button" class="counter-minus btn" disabled=""><i class="fa fa-angle-up"></i></button>
                                                      <button type="button" class="counter-plus btn"><i class="fa fa-angle-down"></i></button>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div><!--check-form end-->
                      </li>
                      <li class="check-avail">
                        <a routerLink="/booking" title="" class="check-status">CHECK AVAILABILITY</a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                </form>
              </div><!--avail-sec end-->
            </div><!--sidebar end-->
          </div>
        </div>
      </div><!--room-single-page end-->
    </div><!--page-content end-->
  </div>
</section><!--main-content end-->

