.form-submit{
  margin-left: 12px;
}
.bg-secondary{
  background: #fff!important;
}
.bg-secondary i{
  color: #eeeeee!important;
  }

  .bg-primary{
    color: #fff;
  }
  .btn-primary {
    color: #fff;
    background-color: #470d25;
    border-color: #470d25;
  }
  .summery li{
    padding-bottom: 5px;
  }