<section class="main-content bkng">
  <div class="container">
    <div class="page-content">
      <div class="booking-tabs-list">
        <ul class="nav nav-tabs" id="myTab3" role="tablist">
          <li class="nav-item">
            <a class="nav-link"> <span class="nom"></span>CHOSE ROOM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="booking_tab">
              <span class="nom"></span> BOOKING</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link"> <span class="nom"></span> CHECKOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><span class="nom"></span> THANK YOU</a>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="avail-sec">
              <form>
                <div class="checking-form">
                  <ul class="checkform">
                    <li>
                      <div class="check-form">
                        <h4>CHECK-IN</h4>
                        <div class="det">
                          <b class="val-date">{{ this.daySelected }}</b>
                          <span>
                            <i class="month">{{ monthArray[monthSelected] }}</i>
                            <i class="year"> {{ this.yearSelected }}</i>
                            <a href="#" title="" class="arw-down"
                              ><i class="fa fa-angle-down"></i
                            ></a>
                          </span>
                        </div>
                        <input
                          type="text"
                          [formControl]="checkIn"
                          [disabled]="isAvailableChecked"
                          name="dateIn"
                          class="date-pick"
                          (ngModelChange)="checkInEvent()"
                        />
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <div class="check-form">
                        <h4>CHECK-OUt</h4>
                        <div class="det">
                          <b class="val-date">{{ this.daySelected2 }}</b>
                          <span>
                            <i class="month">{{
                              monthArray[monthSelected2]
                            }}</i>
                            <i class="year"> {{ this.yearSelected2 }}</i>
                            <a href="#" title="" class="arw-down"
                              ><i class="fa fa-angle-down"></i
                            ></a>
                          </span>
                        </div>
                        <input
                          type="text"
                          [formControl]="checkOut"
                          [disabled]="isAvailableChecked"
                          name="dateOut"
                          class="date-pick"
                          (ngModelChange)="checkedOutEvent()"
                        />
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <!-- <li class="item-cont">
                      <div class="check-form">
                        <h4 class="text-center">Guest</h4>
                        <div class="det">
                          <div class="handle-counter" id="handleCounter">
                                            <ul>
                                                <li class="input-fieldd">
                                                  <input type="number"   name="guest" #guest value="1" min="1" [(ngModel)]="guest" >
                                              </li>
                                                <li class="counter-control">
                                                  <button class="counter-minus btn" disabled=""><i class="fa fa-angle-up"></i></button>
                                                  <button class="counter-plus btn"><i class="fa fa-angle-down"></i></button>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                    </li> -->
                    <li class="check-avail">
                      <a
                        (click)="onBook()"
                        *ngIf="!isAvailableChecked"
                        title=""
                        class="check-status"
                        >CHECK AVAILABILITY</a
                      >
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
              </form>
            </div>
            <div class="extra_info"></div>
          </div>
        </div>
        <!-- <div class="col-lg-8">
                  <div class="booking_form">
                    <span class="guest-notif">You are booking for {{ token.getPropertyName() }}'s {{ this.room.name }}. </span>

                  <div class="information_form" *ngIf="isAvailableChecked">
                    <h3>Add Booking Information</h3>
                    <form [formGroup]="onBookingForm">
                      <div class="row">

                        <div class="col-lg-6">
                          <mat-form-field
                          class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
                          appearance="outline"
                        >
                        <mat-label>First Name</mat-label>
                          <input
                            type="text"
                            matInput
                            placeholder="First Name"
                            [formControl]="firstName"
                            [(ngModel)]="booking.firstName"
                          />
                          <mat-error *ngIf="!firstName.valid && firstName.touched"
                            >First Name is required</mat-error
                          >

                        </mat-form-field>
                        </div>

                        <div class="col-lg-6">


                          <mat-form-field
                          class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
                          appearance="outline"
                        >
                        <mat-label>Last Name</mat-label>
                          <input
                            type="text"
                            matInput
                            placeholder="Last Name"
                            [formControl]="lastName"
                            [(ngModel)]="booking.lastName"
                          />
                          <mat-error *ngIf="!lastName.valid && lastName.touched"
                            >Last Name is required</mat-error
                          >

                        </mat-form-field>
                        </div>


                        <div class="col-lg-6">
                          <mat-form-field
                          class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
                          appearance="outline"
                        >
                        <mat-label>Email</mat-label>
                          <input
                            type="email"
                            matInput
                            placeholder="Email"
                            [formControl]="bookingEmail"
                            [(ngModel)]="booking.email"

                          />
                          <mat-error *ngIf="!bookingEmail.valid && bookingEmail.touched"
                            >Invalid Email Address!</mat-error
                          >

                        </mat-form-field>

                        </div>

                        <div class="col-lg-6">

                          <mat-form-field
                          class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
                          appearance="outline"
                        >
                        <mat-label>Phone Number</mat-label>
                          <input
                            type="text"
                            matInput
                            placeholder="Contact Number"
                            minlength="7"
                            maxlength="15"
                            [formControl]="bookingContact"
                            [(ngModel)]="booking.mobile"

                          />
                          <mat-error
                            *ngIf="!bookingContact.valid"
                            >Invalid Contact Number !</mat-error>


                        </mat-form-field>

                        </div>

                        <div class="col-lg-6">

                          <mat-form-field
                          class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
                          appearance="outline"
                        >
                        <mat-label>No of Rooms</mat-label>

                          <input
                            type="number"
                            matInput
                            placeholder="No of Rooms"
                            [formControl]="noOfRooms"
                            [(ngModel)] ="booking.noOfRooms"
                            (ngModelChange)="onChangeRoom($event,room.noOfRooms)"
                            min="1"
                            max="{{ room.noOfRooms }}"

                          />

                        </mat-form-field>


                        </div>
                        <div class="col-lg-6">

                          <mat-form-field
                          class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
                            appearance="outline"
                          >
                          <mat-label>No Of Person(s)</mat-label>
                            <input
                              type="number"
                              matInput
                              placeholder="No Of Person(s)"
                              [formControl]="noOfPersons"
                              (ngModelChange)="onChangePerson($event,room.maximumOccupancy*booking.noOfRooms)"
                              [(ngModel)]="booking.noOfPersons"
                              min="1"
                              max="{{ room.maximumOccupancy*booking.noOfRooms }}"

                            />
                            <mat-error *ngIf="!noOfPersons.valid && noOfPersons.touched"
                              >No Of Person Required!</mat-error
                            >

                          </mat-form-field>

                        </div>


                        <div class="col-lg-12">
                          <div class="seachby">
                            <ul>
                              <li>
                                <div class="inp-field">

                                </div>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="form-submit">
                             <button mat-raised-button
                             *ngIf="!onBookingForm.valid"
                             class="lnk-default disabled"
                             color="secondary">
                             Checkout <i class="la la-arrow-right"></i>
                             </button>
                            <button mat-raised-button
                                *ngIf="onBookingForm.valid"
                                (click)="onCheckOut()"
                                class="lnk-default"
                                color="primary">
                                Checkout <i class="la la-arrow-right"></i>
                                </button>

                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  </div>
                </div> -->
        <div class="col-lg-8 col-md-8 padding-right-30">
          <div *ngIf="loader" class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 100%"
            ></div>
          </div>
          <!-- <button class="btn btn-sm btn-outline-primary mb-4" (click)="backClicked()" *ngIf="!bookingConfirmed">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </button> -->
          <form
            class="form"
            (ngSubmit)="orderForm.form.valid && onSubmit(orderForm)"
            #orderForm="ngForm"
            *ngIf="!bookingConfirmed"
          >
            <!-- <h4 class="mb-4">Personal Details</h4>
                 <div class="row mb-4">
                   <div class="col-md-6">
                     <div class="form-group">
                       <input type="text" placeholder="First Name" class="form-control form-control-alternative">
                     </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group">
                       <input type="text" placeholder="Last Name" class="form-control form-control-alternative">
                     </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group">
                       <input type="text" placeholder="E mail" class="form-control form-control-alternative">
                     </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group">
                       <input type="text" placeholder="Phone" class="form-control form-control-alternative">
                     </div>
                   </div>
                 </div>
                 <h4 class="mb-3">Payment Method</h4>
                 <div class="nav-wrapper">
                   <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                     <li class="nav-item">
                       <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="fa fa-credit-card mr-2"></i>Credit/Debit Card</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="fa fa-paypal  mr-2"></i>Paypal</a>
                     </li>
                   </ul>
                 </div>
                 <div class="card shadow">
                   <div class="card-body">
                     <div class="tab-content" id="myTabContent">
                       <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">

                           <div class="row">
                             <div class="col-md-12">
                               <div class="form-group">
                                 <input type="text" placeholder="Name" class="form-control form-control-alternative">
                               </div>
                             </div>
                             <div class="col-md-12">
                               <div class="form-group">
                                 <input type="text" placeholder="Card Number" class="form-control form-control-alternative">
                               </div>
                             </div>
                             <div class="col-md-6">
                               <select class="custom-select mb-4 form-control-alternative">
                                 <option selected>Month</option>
                                 <option value="January">January</option>
                                 <option value="February">February</option>
                                 <option value="March">March</option>
                                 <option value="April"> 	April</option>
                                 <option value="May">May</option>
                                 <option value="June">June</option>
                                 <option value="July">July</option>
                                 <option value="August">August</option>
                                 <option value="September">September</option>
                                 <option value="October">October</option>
                                 <option value="November"> 	November</option>
                                 <option value="December"> 	December</option>
                               </select>
                             </div>
                             <div class="col-md-6">
                               <select class="custom-select mb-4 form-control-alternative">
                                 <option selected>Year</option>
                                 <option value="2018">2018</option>
                                 <option value="2019">2019</option>
                                 <option value="2020">2020</option>
                                 <option value="2021">2021</option>
                                 <option value="2022">2022</option>
                                 <option value="2023">2023</option>
                               </select>
                             </div>
                             <div class="col-md-12">
                               <div class="form-group">
                                 <input type="text" placeholder="CVV" class="form-control form-control-alternative">
                               </div>
                             </div>
                             <div class="col-md-12">
                               <button class="btn btn-primary" type="button">Submit</button>
                             </div>
                           </div>
                       </div>
                       <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                         <p>Paypal is easiest way to pay online</p>
                         <p>
                           <button type="button" class="btn btn-primary"> <i class="fa fa-paypal"></i> Log in my Paypal </button>
                         </p>
                         <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                           tempor incididunt ut labore et dolore magna aliqua.
                         </p>
                       </div>
                     </div>
                   </div>
                 </div> -->
            <h4 class="mb-4">Booking Checkout</h4>

            <div class="row mb-4">
              <div class="col-md-6" *ngIf="verified || customerExist">
                <div class="form-group">
                  <label class="form-label" for="firstName">First Name*</label>
                  <input
                    type="text"
                    placeholder="First Name"
                    id="firstName"
                    class="form-control form-control-alternative"
                    [(ngModel)]="booking.firstName"
                    #firstName="ngModel"
                    name="firstName"
                    required
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      (firstName.touched || orderForm.submitted) &&
                      firstName.errors?.required
                    "
                  >
                    First Name is required
                  </span>
                </div>
              </div>
              <div class="col-md-6" *ngIf="verified || customerExist">
                <div class="form-group">
                  <label class="form-label" for="lastName">Last Name*</label>
                  <input
                    type="text"
                    placeholder="Last Name"
                    id="lastName"
                    class="form-control form-control-alternative"
                    name="lastName"
                    [(ngModel)]="booking.lastName"
                    #lastName="ngModel"
                    required
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      (lastName.touched || orderForm.submitted) &&
                      lastName.errors?.required
                    "
                  >
                    Last Name is required
                  </span>
                </div>
              </div>
              <div class="col-md-12" *ngIf="!verified && !customerExist">
                <div class="btn-group">
                  <Label>Verification Method</Label>
                  <div class="form-check form-check-inline ml-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="verifyOpt"
                      id="verifyOpt1"
                      [(ngModel)]="verifyOption"
                      #verifyOpt1="ngModel"
                      (ngModelChange)="clickEmail()"
                      value="email"
                      [disabled]="lookup"
                    />
                    <label class="form-check-label" for="verifyOpt1"
                      >Email</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="verifyOpt"
                      [(ngModel)]="verifyOption"
                      #verifyOpt2="ngModel"
                      (ngModelChange)="clickPhone()"
                      id="verifyOpt2"
                      value="sms"
                      [disabled]="lookup"
                    />
                    <label class="form-check-label" for="verifyOpt2">SMS</label>
                  </div>
                </div>
                <button
                  class="btn btn-rounded btn-outline-primary btn-sm ml-3"
                  id="reload"
                  (click)="onReload()"
                  [disabled]=""
                >
                  Reset
                </button>
              </div>
              <div class="col-md-6" *ngIf="verified">
                <div class="form-group">
                  <label class="form-label" for="email">Email*</label>
                  <input
                    type="email"
                    placeholder="E-mail"
                    id="email"
                    class="form-control form-control-alternative w-100"
                    name="email"
                    [(ngModel)]="booking.email"
                    #email="ngModel"
                    required
                    email
                    [readonly]="booking.email !== '' && verifyOption == 'email'"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      (email.touched || orderForm.submitted) &&
                      email.errors?.required
                    "
                  >
                    Email is required
                  </span>
                  <span
                    class="text-danger"
                    *ngIf="
                      (email.touched || orderForm.submitted) &&
                      email.errors?.email
                    "
                  >
                    Enter a valid email
                  </span>
                </div>
              </div>
              <div class="col-md-6" *ngIf="verified">
                <div class="form-group">
                  <label class="form-label" for="mobile">Phone*</label>
                  <br />
                  <input
                    *ngIf="booking.mobile == ''"
                    type="text"
                    ng2TelInput
                    [ng2TelInputOptions]="{ initialCountry: 'in' }"
                    (hasError)="phoneHasError($event)"
                    (ng2TelOutput)="getNumber($event)"
                    class="form-control form-control-alternative"
                    id="mobile"
                    name="mobile"
                    class="form-control form-control-alternative w-100"
                    required
                  />
                  <input
                    *ngIf="booking.mobile !== ''"
                    type="text"
                    class="form-control form-control-alternative w-100"
                    id="mobile"
                    name="mobile"
                    [(ngModel)]="booking.mobile"
                    #mobile="ngModel"
                    required
                    [readonly]="booking.mobile !== '' && verifyOption == 'sms'"
                  />
                  <span class="text-danger" *ngIf="!mobileHasError">
                    Invalid Phone number
                  </span>
                  <!-- <span class="text-danger"
                            *ngIf="(mobile.touched || orderForm.submitted) && mobile.errors?.required">
                            Phone is required
                          </span> -->
                </div>
              </div>

              <div
                class="col-md-6"
                *ngIf="verifyOption == 'email' && !verified"
              >
                <div class="form-group">
                  <!-- <label class="form-label" for="email">Email</label> -->
                  <input
                    type="email"
                    placeholder="E-mail"
                    class="form-control form-control-alternative w-100"
                    id="email"
                    name="email"
                    [(ngModel)]="booking.email"
                    #email="ngModel"
                    required
                    email
                    [readonly]="lookup"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      (email.touched || orderForm.submitted) &&
                      email.errors?.required
                    "
                  >
                    Email is required
                  </span>
                  <span
                    class="text-danger"
                    *ngIf="
                      (email.touched || orderForm.submitted) &&
                      email.errors?.email
                    "
                  >
                    Enter a valid email
                  </span>
                </div>
              </div>
              <div class="col-md-6" *ngIf="verifyOption == 'sms' && !verified">
                <div class="form-group">
                  <!-- <label class="form-label" for="mobile">Phone</label> -->
                  <input
                    type="text"
                    [(ngModel)]="booking.mobile"
                    (ngModelChange)="mobileTextChange()"
                    ng2TelInput
                    [ng2TelInputOptions]="{ initialCountry: 'in' }"
                    (hasError)="phoneHasError($event)"
                    (ng2TelOutput)="getNumber($event)"
                    id="mobile"
                    class="form-control form-control-alternative w-100"
                    id="mobile"
                    name="mobile"
                    required
                    [readonly]="lookup"
                  />
                  <br />
                  <span class="text-danger" *ngIf="!mobileHasError">
                    Invalid Phone number
                  </span>
                  <!-- <span class="text-danger"
                            *ngIf="(mobile.touched || orderForm.submitted) && mobile.errors?.required">
                            Phone is required
                          </span> -->
                </div>
              </div>
              <div class="col-md-6" *ngIf="verifyOption == 'sms' && !verified">
                <button
                  *ngIf="this.booking.mobile.length > 4 && !isVerified"
                  (click)="onVerified()"
                  class="btn btn-rounded btn-outline-primary btn-sm ml-3 verify"
                >
                  Verify
                </button>
              </div>
              <!-- *ngIf="!verified && (order.mobile != null || order.email != null)" -->
              <!-- <div class="col-md-12" *ngIf="!verified && !customerExist || order.email != '' && order.mobile != '' " > -->
              <div
                class="col-md-12"
                *ngIf="
                  lookup &&
                  !customerExist &&
                  !verified &&
                  (booking.email != '' || booking.mobile != '')
                "
              >
                <div class="form-group">
                  <label>User Not Exist! Send Verification Code</label>
                  <button
                    class="btn btn-rounded btn-outline-primary btn-sm ml-3"
                    (click)="checkCustomer()"
                  >
                    {{ sendBtn }}
                  </button>
                </div>
              </div>
              <div
                class="col-md-6"
                *ngIf="
                  !lookup &&
                  !customerExist &&
                  (booking.email != '' || (isVerified && mobileHasError))
                "
              >
                <div class="form-group">
                  <!-- <label></label> -->
                  <button
                    class="btn btn-rounded btn-outline-primary"
                    (click)="customerLookup()"
                    [disabled]="
                      (booking.email == '' || !orderForm.valid) &&
                      !mobileHasError
                    "
                  >
                    Search
                  </button>
                </div>
              </div>
              <div class="col-md-6" *ngIf="verificationSend && !verified">
                <div class="form-group">
                  <label>Verification Code Sent! Enter the code below</label>
                  <input
                    type="text"
                    placeholder="Verification Code"
                    name="verifyCode"
                    id="verifyCode"
                    [(ngModel)]="verificationCode"
                    #verifyCode="ngModel"
                    minlength="6"
                    maxlength="6"
                    class="form-control form-control-alternative"
                  />
                </div>
              </div>
              <div class="col-md-3" *ngIf="verificationSend && !verified">
                <div class="form-group">
                  <label>Click to verify</label>
                  <button
                    (click)="varificationSend()"
                    class="btn btn-rounded btn-outline-primary"
                    [disabled]="
                      verificationCode == '' ||
                      verificationCode == null ||
                      !orderForm.valid
                    "
                  >
                    Verify
                  </button>
                </div>
              </div>
              <div class="col-md-12" *ngIf="verified && verifySuccessMessage">
                <p class="text-success">Verification Success!</p>
              </div>
              <div
                class="col-md-12"
                *ngIf="verifiedPending && verifySuccessMessage"
              >
                <p class="text-warning">Verification Error!</p>
              </div>
            </div>
            <h4 class="mb-3 mt-4" *ngIf="verified">Booking Overview</h4>

            <div class="row" *ngIf="verified">
              <div class="col-md-12">
                <label class="form-label" for="mobile">Special Notes</label>
                <textarea
                  type="text"
                  placeholder="Special Notes"
                  class="form-control form-control-alternative mb-3"
                  id="note"
                  name="note"
                  [(ngModel)]="booking.notes"
                ></textarea>
                <p class="text-muted">
                  Type your requests in English here – we'll share them with the
                  property. Special requests cannot be guaranteed, but the
                  property will do its best to meet your needs. You can always
                  make a special request after your booking is complete!
                </p>
              </div>
              <!-- <div class="col-md-12">
                <label class="form-label" for="mobile">Promotion</label> -->
              <!-- <input type="text" placeholder="Promo Code"
                          class="form-control form-control-alternative mb-3" id="note" name="promoCode"
                          [(ngModel)]="promoCode" />
                      <button  class="btn btn-primary" type="button"  (click)="applyPromoCode()" [disabled]="promoCode == null">Apply</button>
                       -->
              <!-- <ul class="form-check" ngbRadioGroup name="radioBasic" [(ngModel)]="promoCode">
                  <li>
                    <div>
                      <label ngbButtonLabel class="form-check-label text-default "
                        style="padding: 0; white-space: normal ; " (click)="applyPromoCode('')">
                        <input ngbButton type="radio" class="form-check-input" [value]="">
                        No offer</label> -->
              <!-- <button class="btn btn-primary" type="button" (click)="applyPromoCode(offer)">Apply Promo</button> -->
              <!-- </div>
                  </li>
                  <li *ngFor="let offer of businessOfferDto">
                    <div>
                      <label ngbButtonLabel class="form-check-label text-default "
                        style="padding: 0; white-space: normal ; " (click)="applyPromoCode(offer)">
                        <input ngbButton type="radio" class="form-check-input" [value]="offer">
                        {{ offer.name }} Code: {{offer.couponCode}}</label>
                    </div>
                  </li>
                </ul>
                <ngb-alert class="mt-3" *ngIf="promoMessage != ''" [type]="'info'" (close)="promoMessage == ''"
                  (click)="promoMessage = ''">
                  <strong>Promo Code: </strong> {{promoMessage}}</ngb-alert>
              </div> -->
              <div class="col-md-6">
                <ul class="summery">
                  <!-- <li><b>Date: </b> <span> {{booking.fromDate  | date:'EEE, MMM d, y'}} - {{booking.toDate | date:'EEE, MMM d, y'}}</span></li> -->
                  <!-- <li><b>Number of Night(s): </b> <span> {{DiffDate}}</span></li> -->
                  <li>
                    <b>Room Type: </b><span>{{ booking.roomName }}</span>
                  </li>
                  <li>
                    <b>No Of Room(s): </b><span>{{ booking.noOfRooms }}</span>
                  </li>
                  <li>
                    <b>Net Amount: </b>
                    <span> {{ booking.netAmount | currency: currency:"symbol":"1.2-2" }} </span>
                  </li>
                  <li *ngIf="discountPercentage"> <b>Discount: </b>{{ discountPercentage }}% </li>
                  <li>
                    <h5>
                      Total Amount:
                      <span> {{  booking.totalAmount | currency: currency:"symbol":"1.2-2" }}
                      </span>
                    </h5>
                  </li>
                  <!-- <li class="total-costs"><b>Total Cost: </b><span> 546.00</span></li> -->
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="summery">
                  <li>
                    <b>No Of Person(s): </b><span>{{ booking.noOfPersons }}</span>
                  </li>
                  <li>
                    <b>Room Price: </b><span>{{ booking.roomPrice | currency: currency:"symbol":"1.2-2" }}
                    </span>
                  </li>
                  <li>
                    <b>Tax Amount:</b><span> {{ booking.gstAmount | currency: currency:"symbol":"1.2-2" }}</span>
                  </li>
                  <li *ngIf="discountPercentage">
                    <b>Discount Amount: </b>{{ booking.discountAmount | currency: currency:"symbol":"1.2-2" }}
                  </li>

                  <!-- <li class="total-costs"><b>Total Cost: </b><span> 546.00</span></li> -->
                </ul>
              </div>
              <div class="col-md-12">
                        <button class="btn btn-primary" type="button"
                          [disabled]="!orderForm.form.valid  || paymentLoader || submitButtonDisable"
                          (click)="onCheckOut()">Checkout</button>

                      </div>
            </div>
          </form>
        </div>
        <!-- <form action="">
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <input type="text" placeholder="Full Name"
                                        class="form-control form-control-alternative">
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <input type="text" placeholder="Bank Name"
                                        class="form-control form-control-alternative">
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <input type="text" placeholder="A/C Number"
                                        class="form-control form-control-alternative">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <input type="text" placeholder="A/C Type"
                                        class="form-control form-control-alternative">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <input type="text" placeholder="Swift Code"
                                        class="form-control form-control-alternative">
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                    <button class="btn btn-primary" type="button"
                                      [disabled]="!orderForm.form.valid  || loader"
                                      (click)="onCashPaymentSubmit(content)">Click n Collect</button>
                                  </div>
                                </div>
                              </form>
                            </div> -->
      </div>
    </div>
  </div>
</section>
<!--main-content end-->
