<!-- ========== TOP MENU ========== -->
    <div id="top-bar" class="topbar ">
      <div class="container">
        <div class="welcome-mssg">
          Welcome to Hotel Bookone.
        </div>
        <div class="top-right-menu">
          <ul class="top-menu">
            <li class="d-none d-md-inline">
              <a href="tel:+18881234567">
                <i class="fa fa-phone"></i>+1 888 123 4567
              </a>
            </li>
            <li class="d-none d-md-inline">
              <a href="mailto:contact@hotelhimara.com">
                <i class="fa fa-envelope-o "></i>contact@bookonepms.com</a>
            </li>
            <!-- <li class="language-menu">
              <a href="#" class="active-language"><img src="assets/images/icons/flags/gb.png" alt="Image">English</a>
              <ul class="languages">
                <li class="language">
                  <a href="#"><img src="assets/images/icons/flags/it.png" alt="Image">Italiano</a>
                </li>
                <li class="language">
                  <a href="#"><img src="assets/images/icons/flags/gr.png" alt="Image">Ελληνικα</a>
                </li>
                <li class="language">
                  <a href="#"><img src="assets/images/icons/flags/al.png" alt="Image">Shqip</a>
                </li>
                <li class="language">
                  <a href="#"><img src="assets/images/icons/flags/fr.png" alt="Image">Français</a>
                </li>
                <li class="language">
                  <a href="#"><img src="assets/images/icons/flags/es.png" alt="Image">Español</a>
                </li>
              </ul>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <!-- ========== HEADER ========== -->
    <header id="top-header" class="horizontal-header sticky-header" data-menutoggle="991">
      <div class="container">
        <!-- BRAND -->
        <div class="brand">
          <div class="logo">
            <a href="index.html">
              <img src="assets/images/logo.svg" alt="Hotel Bookone">
            </a>
          </div>
        </div>
        <!-- MOBILE MENU BUTTON -->
        <div id="toggle-menu-button" class="toggle-menu-button">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
        <!-- MAIN MENU -->
        <nav id="main-menu" class="main-menu">
          <ul class="menu">
            <li class="menu-item  active">
              <a href="index.html">HOME</a>
            </li>
            <li class="menu-item ">
              <a routerLink="/booking">BOOKING</a>
            </li>
            <li class="menu-item ">
              <a routerLink="/about">ABOUT US</a>
            </li>
            <li class="menu-item ">
              <a routerLink="/rooms">ROOMS</a>
            </li>
            <li class="menu-item">
              <a routerLink="/contact">CONTACT US</a>
            </li>
            <li class="menu-item menu-btn">
              <a routerLink="/booking" class="btn btn-dark">
                <i class="fa fa-calendar"></i>
                BOOK ONLINE</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
