<section class="c-block about_secc">
  <div class="container">
    <div class="about-us-sec">
      <div class="row">
        <div class="col-lg-5">
          <div class="about_we pt-0">
            <h1>Hotel 7 Saat</h1>
            <h3>Where WE ARE </h3>
            <p>Hotel 7 Saat is located in the Info city area IT hub of Bhubaneswar. Just about 30 minutes drive from the Biju Pattnaik International Airport and 20 minutes' drive from Bhubaneswar Railway Station.</p>
            <a routerLink="/about" title="" class="lnk-default">About Us <i class="la la-arrow-right"></i></a>
          </div><!--about_we end-->
        </div>
        <div class="col-lg-7 p-0">
          <ul class="abt_img">
            <li class="light-overlay">
              <img src="assets/images/about-1.jpg" alt="">
              <!-- <a href="#" title="" class="play-vid"><img src="assets/images/icon-play2.png" alt=""></a> -->
              <!-- <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"> </iframe> -->
            </li>
            <li>
              <img src="assets/images/about-p1.jpg" alt="">
            </li>
          </ul>
        </div>
      </div>
    </div><!--about-us-sec end-->
  </div>
</section><!--ABOUT-US END-->
