<section class="c-block about_secc">
  <div class="container">
    <div class="about-us-sec">
      <div class="row">
        <div class="col-lg-5">
          <div class="about_we pt-0">
            <h2>Mangal Niketan</h2>
            <h3>WHO WE ARE </h3>
            <p>Odisha (formerly Orissa), an eastern Indian state on the Bay of Bengal, is known for its tribal cultures and its many ancient Hindu temples. In Odisha at Madhusudanpur Our Hotel Mangal Niketon situated. We give the A1 quality services in entire Soro. We are one of the luxurious hotel in Odisha</p>
            <a routerLink="/about" title="" class="lnk-default">About Us <i class="la la-arrow-right"></i></a>
          </div><!--about_we end-->
        </div>
        <div class="col-lg-7 p-0">
          <ul class="abt_img">
            <li class="light-overlay">
              <img src="assets/images/rooms/31-320x450.jpg" alt="">
              <!-- <a href="#" title="" class="play-vid"><img src="assets/images/icon-play2.png" alt=""></a> -->
              <!-- <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"> </iframe> -->
            </li>
            <li>
              <img src="assets/images/rooms/30-320x450.jpg" alt="">
            </li>
          </ul>
        </div>
      </div>
    </div><!--about-us-sec end-->
  </div>
</section><!--ABOUT-US END-->
