<div class="overview_area secondary-bg-color ptb-100">
  <div class="holder">
      <div class="hr">
          <div class="vc-od-6 vc-sd-6">
              <div class="overview_img_inner">
                  <div class="overview_img1 align-center overview_img">
                      <img src="assets/images/review_img3.jpg" alt="overview">
                  </div>
                  <div class="overview_img2 overview_img">
                      <img src="assets/images/review_img2.jpg" alt="overview">
                  </div>
                  <div class="overview_img3 overview_img">
                      <img src="assets/images/review_img1.jpg" alt="overview">
                  </div>
              </div>
          </div>
          <div class="vc-od-5 vc-od-offset-1 vc-sd-6">
              <div class="overview_text_inner align-center">
                  <div class="section_title align-center">
                      <div class="section_sub_title">
                          <p>Hotel Overview</p>
                      </div>
                      <h1>Relax In Our Hotel</h1>
                  </div>
                  <div class="section_body">
                      <p>Zoris boutique hotel is an iconic lifestyle brand that bouldly colors outside the lines of luxury.

                          We are here to bring you the best of what Bhubaneswar has to offer.
                          Be it a business trip, a family vacation, a birthday an anniversary or a Fabulous night on the town we have it all, fantastic rooms with excellent room service to restaurants and pubs each special in their own way.

                      </p>
                      <a routerLink="/aboutus" class="common_btn2 btn_hbreffect1">about us</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
