<div class="overview_area secondary-bg-color ptb-100">
  <div class="holder">
      <div class="hr">
          <div class="vc-od-6 vc-sd-6">
              <div class="overview_img_inner">
                  <div class="overview_img1 align-center overview_img">
                      <img src="assets/images/review_img2.jpg" alt="overview">
                  </div>
                  <div class="overview_img2 overview_img">
                      <img src="assets/images/review_img3.jpg" alt="overview">
                  </div>
                  <div class="overview_img3 overview_img">
                      <img src="assets/images/review_img1.jpg" alt="overview">
                  </div>
              </div>
          </div>
          <div class="vc-od-5 vc-od-offset-1 vc-sd-6">
              <div class="overview_text_inner align-center">
                  <div class="section_title align-center">
                      <div class="section_sub_title">
                          <p>Hotel Overview</p>
                      </div>
                      <h1>Relax In Our Hotel</h1>
                  </div>
                  <div class="section_body">
                    <p>Strategically located near Biju Patnaik International Airport, Hotel Pentagon is one of the most preferred budget hotels in Bhubaneswar. Leisure travellers and pilgrims opt for this hotel owing to its:</p>
                    <ul>
                    <li>Clean &amp; hygienic rooms, disinfected at regular intervals</li>
                    <li>	Prime location</li>
                    <li>	Conference facilities</li>
                    <li>	In-house restaurant</li>
                    </ul>
                      <a routerLink="/aboutus" class="common_btn2 btn_hbreffect1">about us</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
