<div class="map-area">
  <div class="gmap-container">
    <div
      class="gmap init-gmap"
      data-lat="22.822108"
      data-lng="89.552954"
      data-center="22.8192108, 89.8492954"
      data-zoom="10"
    ></div>
  </div>
  <div class="container container-spe">
    <div class="map-form">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="border-in">
            <div class="gen-title">
              <h1>Any <strong>Queries?</strong></h1>
            </div>
            <div class="form-content">
              <p>
                contact us
              </p>
              <div class="phn-mail">
                <p>880 125 220 555</p>
                <p>info@email.com</p>
              </div>
            </div>
            <div class="contact-form">
              <form
                id="contact-form"
                method="post"
                action="http://designelit.com/template/jaiga/jaiga-template-v1.0/assets/contact-script/contact.php"
              >
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        name="name"
                        class="form-control"
                        placeholder="Your Name"
                        required="required"
                        data-error="Write your name"
                      />
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                      <div class="form-group">
                        <input
                          type="tel"
                          id="phn-no"
                          name="phn-no"
                          class="form-control"
                          placeholder="Your Phone Number"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                      <textarea
                        name="comment"
                        class="form-control"
                        placeholder="Your Message"
                        required="required"
                        data-error="Write your comment"
                      ></textarea>
                    </div>
                  </div>
                  <div class="form-group col-xs-12">
                    <div class="form-btn">
                      <button type="submit" class="cbiz-btn hvr-sweep-to-right">
                        Send Now
                      </button>
                    </div>
                  </div>
                  <div class="messages"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
