<section class="service section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title">
            <a style="color:rgb(0, 0, 0);">Our</a>
            <a style="color:rgb(255, 0, 0);"> Services</a> 
            <a style="color:rgb(0, 0, 0);"> & Amenities</a></h2>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
        <div class="service-icon">
          <i class="flaticon-hotel icon-large"></i>
        </div>
        <div class="service-content">
          <a><h4>Lovely home</h4></a>
          <!-- <p>
            sort description
          </p> -->
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
        <div class="service-icon">
          <i class="flaticon-hotel-1 icon-large"></i>
        </div>
        <div class="service-content">
          <a><h4>Complementary Breakfast</h4></a>
          <!-- <p>
           sort description
          </p> -->
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
        <div class="service-icon">
          <i class="flaticon-automobile icon-large"></i>
        </div>
        <div class="service-content">
          <a><h4>Airport Shuttle</h4></a>
          <!-- <p>
           sort description
          </p> -->
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
        <div class="service-icon">
          <i class="flaticon-shield icon-large"></i>
        </div>
        <div class="service-content">
          <a><h4>High Security</h4></a>
          <!-- <p>
           sort description
          </p> -->
        </div>
      </div>
    </div>
  </div>
</section>