<section class="main-slider hp_5">
  <div class="container-fluid">
    <div class="fullscreen-container" style="background-color: transparent; padding: 0px">
      <ngx-slick-carousel class="carousel listing-slider mfp-gallery-container margin-bottom-0"
        #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let gallery of galleryImage" class="slide">
          <img class="image-fluid w-100" src="{{ gallery.image }}" style="background-size: cover" alt="First slide" />
          <a [ngStyle]="{ 'background-image': 'url( gallery.image )' }" style="background-size: cover"
            class="item mfp-gallery cover" title="{{ gallery.title }}"></a>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

  <div class="checking-form sldr">
    <div class="container">
      <ul class="checkform">
        <li>
          <div class="check-form">
            <h4>CHECK-IN</h4>

            <div class="det" (click)="datepicker.toggle()">
              <b class="val-date">{{  day }}</b>
              <span>
                <i class="month">{{ monthArray[month] }}</i>
                <i class="year">{{  year }}</i>
                <a  (click)="datepicker.toggle()" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
              </span>
            </div>
            <!-- <input type="text" [formControl]="checkIn" name="dateIn" [min]="mincheckIn" [max]="maxcheckIn"
              class="date-pick" (ngModelChange)="checkInEvent()" /> -->
              <!-- <input class="field-control hidden" name="checkIn" placeholder="Check In" [formControl]="CheckIn"
              [(ngModel)]="checkIn" (click)="d1.toggle()"  ngbDatepicker #d1="ngbDatepicker"
              [placement]="placement" autocomplete="off" style="display: none;" (ngModelChange)="setCheckInDate(checkIn)"> -->

              <input style="display: none;" #dpcheckIn type="text" class="date-input form-control hidden" placeholder="Check-in" name="dpcheckIn"
              [value]="formatter.format(checkIn) | date:'EEE, MMM d'"
              (input)="checkIn = validateInput(checkIn, dpcheckIn.value)" required
              (click)="datepicker.toggle()" autocomplete="off">
              <div class="form-group hidden">
                <input name="datepicker" class="form-control hidden" ngbDatepicker #datepicker="ngbDatepicker"
                   [autoClose]="true" (dateSelect)="onDateSelection($event)" [displayMonths]="1"
                   [dayTemplate]="t" outsideDays="hidden" [startDate]="checkIn!" tabindex="-1"
                   [minDate]="todayDate">
           <ng-template #t let-date let-focused="focused" >
              <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                 [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                 (mouseleave)="hoveredDate = null">
                 {{ date.day }}
              </span>
           </ng-template>

            <div class="clearfix"> </div>
          </div>
          </div>
        </li>
        <li>
        
          <li>
            <div class="check-form">
              <h4>CHECK-OUT</h4>
              <div class="det" (click)="datepicker.toggle()">
                <b class="val-date">{{ day2 }}</b>
                <span>
                  <i class="month">{{ monthArray[month2] }}</i>
                  <i class="year">{{ year2 }}</i>
                  <a  (click)="datepicker.toggle()" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                </span>
              </div>
              <div class="clearfix"></div>
            </div>
            <!--check-form end-->
          </li>
        <li class="item-cont">
          <div class="check-form">
            <h4 class="text-center">Guest</h4>
            <div class="det">
              <div class="handle-counter" id="handleCounter">
                <ul>
                  <li class="input-fieldd" style="color: #262626;
                  font-size: 35px;
                  font-weight: 600;">
                    <input style="display: none" type="number" class="stepper_input" data-ref="input-stepper-field"
                      id="group_adults" name="group_adults" min="1" max="30" value="2" data-group-adults-count=""
                      [(ngModel)]="guest">{{guest}}

                  </li>
                  <li class="counter-control">
                    <!-- <button class="counter-plus btn">
                      <i class="fa fa-angle-up"></i>
                    </button>
                    <button class="counter-minus btn" disabled="">
                      <i class="fa fa-angle-down"></i>
                    </button> -->
                    <button class="btn btn-outline-default btn-sm" type="button" (click)="guest = guest + 1;" [disabled]="guest >=30">
                      <!-- <span class="button_text">+</span> -->
                      <i class="fa fa-angle-up"></i>
                    </button>
                    <button class="btn btn-outline-default btn-sm" type="button" (click)="guest = guest - 1;"
                      [disabled]="guest <=1">
                      <!-- <span class="button_text">−</span> -->
                      <i class="fa fa-angle-down"></i>
                    </button>

                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!--check-form end-->
        </li>
        <li class="item-cont">
          <div class="check-form">
            <h4 class="text-center">Child</h4>
            <div class="det">
              <div class="handle-counter" id="handleCounter">
                <ul>
                  <li class="input-fieldd" style="color: #262626;
                  font-size: 35px;
                  font-weight: 600;">
                    <input style="display: none" type="number" class="stepper_input" data-ref="input-stepper-field"
                      id="group_childs" name="group_childs" min="1" max="30" value="2" data-group-adults-count=""
                      [(ngModel)]="noOfChildren">{{noOfChildren}}

                  </li>
                  <li class="counter-control">
                    <!-- <button class="counter-plus btn">
                      <i class="fa fa-angle-up"></i>
                    </button>
                    <button class="counter-minus btn" disabled="">
                      <i class="fa fa-angle-down"></i>
                    </button> -->
                    <button class="btn btn-outline-default btn-sm" type="button" (click)="noOfChildren = noOfChildren + 1;" [disabled]="noOfChildren >=30">
                      <!-- <span class="button_text">+</span> -->
                      <i class="fa fa-angle-up"></i>
                    </button>
                    <button class="btn btn-outline-default btn-sm" type="button" (click)="noOfChildren = noOfChildren - 1;"
                      [disabled]="noOfChildren <=1">
                      <!-- <span class="button_text">−</span> -->
                      <i class="fa fa-angle-down"></i>
                    </button>

                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!--check-form end-->
        </li>
        <li class="item-cont">
          <div class="check-form">
            <h4 class="text-center">Rooms</h4>
            <div class="det">
              <div class="handle-counter" id="handleCounter">
                <ul>
                  <li class="input-fieldd" style="color: #262626;
                  font-size: 35px;
                  font-weight: 600;">
                    <input style="display: none" type="number" class="stepper_input" data-ref="input-stepper-field"
                      id="group_adults" name="group_adults" min="1" max="30" value="2" data-group-adults-count=""
                      [(ngModel)]="noOfRooms">{{noOfRooms}}

                  </li>
                  <li class="counter-control">
                    <!-- <button class="counter-plus btn">
                      <i class="fa fa-angle-up"></i>
                    </button>
                    <button class="counter-minus btn" disabled="">
                      <i class="fa fa-angle-down"></i>
                    </button> -->
                    <button class="btn btn-outline-default btn-sm" type="button" (click)="noOfRooms = noOfRooms + 1;" [disabled]="noOfRooms >=30">
                      <!-- <span class="button_text">+</span> -->
                      <i class="fa fa-angle-up"></i>
                    </button>
                    <button class="btn btn-outline-default btn-sm" type="button" (click)="noOfRooms = noOfRooms - 1;"
                      [disabled]="noOfRooms <=1">
                      <!-- <span class="button_text">−</span> -->
                      <i class="fa fa-angle-down"></i>
                    </button>

                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!--check-form end-->
        </li>
        <li class="bkk">
          <div class="bk_now" (click)="onBook()">
            <!-- routerLink="/booking" (click)="onBook()" -->
            <a title=""><img src="assets/images/icon6.png" alt="" /></a>
            <a title="" class="bk-now">Book Now</a>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<!--MAIN-SLIDER END-->
