<section class="main-slider hp_5">
  <div class="container-fluid">
        <div id="rev_slider_476_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="christmas-snow-scene" data-source="gallery" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
            <div id="rev_slider_476_2" class="rev_slider" style="display:none;" data-version="5.3.0.2">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-1648" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="assets/images/slider_banner.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="assets/images/slides/slide1.jpg" alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <div class="tp-caption lyr1 tp-resizeme"
              id="slide-1-layer-1"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="0"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[15,15,15,15]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[40,40,40,40]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="500"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >An Unit Of Sanatan Residency
            </div>

            <div class="tp-caption lyr2 tp-resizeme"
              id="slide-1-layer-2"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="73"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[15,15,15,15]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[40,40,40,40]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="200"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >WELCOME TO Mangal Niketan
            </div>
                        <!-- LAYER NR. 3 -->
            <a routerlink="/" title="" class="tp-caption lyr3 tp-resizeme"
              id="slide-1-layer-3"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="164"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[29,29,29,29]"
                            data-paddingright="[37,37,37,37]"
                            data-paddingbottom="[27,27,27,27]"
                            data-paddingleft="[37,37,37,37]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="2100"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >ROOMS E SUITES
            </a>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-1649" class="scnd_slide" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="assets/images/slider_banner.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="02" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="assets/images/slides/slide2.jpg" alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <div class="tp-caption lyr1 tp-resizeme"
              id="slide-1-layer-4"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="0"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[15,15,15,15]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[40,40,40,40]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="500"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >An Unit Of Sanatan Residency
            </div>

            <div class="tp-caption lyr2 tp-resizeme"
              id="slide-1-layer-5"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="73"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[15,15,15,15]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[40,40,40,40]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="200"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
             >WELCOME TO Mangal Niketan
            </div>
                        <!-- LAYER NR. 3 -->
            <a routerlink="/" title="" class="tp-caption lyr3 tp-resizeme"
              id="slide-1-layer-6"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="164"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[29,29,29,29]"
                            data-paddingright="[37,37,37,37]"
                            data-paddingbottom="[27,27,27,27]"
                            data-paddingleft="[37,37,37,37]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="2100"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
             >ROOMS E SUITES
            </a>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-1650" class="scnd_slide thrd" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="assets/images/slider_banner.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="03" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="assets/images/slides/slide3.jpg" alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <div class="tp-caption lyr1 tp-resizeme"
              id="slide-1-layer-7"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="0"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[15,15,15,15]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[40,40,40,40]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="500"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >An Unit Of Sanatan Residency
            </div>

            <div class="tp-caption lyr2 tp-resizeme"
              id="slide-1-layer-8"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="73"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[15,15,15,15]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[40,40,40,40]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="200"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >WELCOME TO Mangal Niketan
            </div>
                        <!-- LAYER NR. 3 -->
            <a routerlink="/" title="" class="tp-caption lyr3 tp-resizeme"
              id="slide-1-layer-9"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="164"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[29,29,29,29]"
                            data-paddingright="[37,37,37,37]"
                            data-paddingbottom="[27,27,27,27]"
                            data-paddingleft="[37,37,37,37]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="2100"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >ROOMS E SUITES
            </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="checking-form sldr">
          <div class="container">
        <ul class="checkform">
          <li>
            <div class="check-form">
              <h4>CHECK-IN</h4>

              <div class="det">
                <b class="val-date">{{ this.day }}</b>
                <span>
                  <i class="month">{{monthArray[month] }}</i> <i class="year">{{  this.year  }}</i>
                  <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                </span>
              </div>
              <input type="text" [formControl]="checkedin" name="dateIn"  class="date-pick" (ngModelChange)="checkedInEvent()" >

              <div class="clearfix"></div>
            </div><!--check-form end-->
          </li>
          <li>
            <div class="check-form">
              <h4>CHECK-OUt</h4>
              <div class="det">
                <b class="val-date">{{ this.day2 }}</b>
                <span>
                  <i class="month">{{monthArray[month2] }}</i> <i class="year">{{  this.year2  }}</i>
                  <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                </span>
              </div>
              <!-- <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a> -->
              <input type="text" name="dateOut" [formControl]="checkedout" class="date-pick">
              <div class="clearfix"></div>
            </div><!--check-form end-->
          </li>
          <li class="item-cont">
            <div class="check-form">
              <h4 class="text-center">Guest</h4>
              <div class="det">
                <div class="handle-counter" id="handleCounter">
                                  <ul>
                                      <li class="input-fieldd"><input type="text" value="1" data-num="1"></li>
                                      <li class="counter-control">
                                        <button class="counter-minus btn" disabled=""><i class="fa fa-angle-up"></i></button>
                                        <button class="counter-plus btn"><i class="fa fa-angle-down"></i></button>
                                      </li>
                                  </ul>
                                  <div class="clearfix"></div>
                              </div>
              </div>
              <div class="clearfix"></div>
            </div><!--check-form end-->
            <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
          </li>
          <li class="bkk">
            <div class="bk_now"  (click)="onBook()">
              <!-- routerLink="/booking" (click)="onBook()" -->
              <a  title="" ><img src="assets/images/icon6.png" alt=""></a>
              <a  title=""  class="bk-now">Book Now</a>
            </div>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    </div>
</section><!--MAIN-SLIDER END-->

