<footer class="hp5">
  <div class="top-footer">
    <div class="container">
      <div class="ft-logo">
        <img src="assets/images/ft-logo.png" alt="">
        <div class="ft-text">
          <h2>Mangal Niketan</h2>
          <h3>An Unit Of Sanatan Residency</h3>
        </div>
      </div><!--ft-logo end-->
      <div class="wids-row">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="widget widget_support">
              <h4>24 HOURS A DAY</h4>
              <h3>Phone Support</h3>
              <span>+919439700304</span>
            </div><!--widget_support end-->
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="widget widget_support">
              <h4>SOCIAL MEDIA CHANNELS</h4>
              <h3>Connect With Us</h3>
              <ul class="social_links">
                <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-vk"></i></a></li>
              </ul><!--social-links end-->
            </div><!--widget_support end-->
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="widget widget-newsletter widget_support">
              <h4>SIGN UP FOR SPECIAL OFFERS</h4>
              <h3>Newsletter</h3>
              <form>
                <input type="email" name="email" placeholder="Enter your email address">
                <button type="submit"><i class="la la-paper-plane"></i></button>
              </form>
            </div><!--widget-newsletter end-->
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div><!--top-header end-->
  <div class="bottom_footer">
    <div class="container-fluid">
      <p>© 2020 Mangal Niketan. All Rights Reserved. Design by BookOne</p>
      <ul class="partn-list">
        <li><a href="#" title=""><img src="https://via.placeholder.com/85x41" alt=""></a></li>
        <li><a href="#" title=""><img src="https://via.placeholder.com/43x53" alt=""></a></li>
      </ul><!--partn-list end-->
      <div class="clearfix"></div>
    </div>
  </div><!--bottom_footer end-->
</footer>

<div class="search_sec">
  <a href="#" title="" class="close-search"><i class="la la-close"></i></a>
  <div class="search_field">
    <div class="container">
      <form>
        <input type="text" name="search" placeholder="Search for...">
        <button type="submit"><img src="assets/images/search2.png" alt=""></button>
      </form>
    </div>
  </div>
</div><!--search_sec end-->

<a href="#" title="" class="scrollTop"><i class="la la-arrow-up"></i></a>

<div class="max-cont"></div>
