<h4>Booking Details</h4>

<div class="row">
  <ul class="col-sm-6">
    <li><b>Check-In Date</b> : </li>
    <li><b>Check-Out Date</b> : </li>
    <li><b>Number Of Person(s)</b> : </li>
    <li><b>Number Of Room(s)</b> : </li>
    <li><b>Name</b> :</li>
    <li><b>Email</b> :</li>
  </ul>
  
  <ul class="col-sm-6">
    <li><b>Contact Number</b> : </li>
    <li><b>Booking Amount</b> : </li>
    <li><b>Currency</b> :</li>
    <li><b>Mode Of Payment</b> : </li>
    <li><b>Amount</b> :</li>
    <li><b>Booking Notes</b> : </li>
  </ul>
</div>
