<h4>Booking Details for {{booking.firstName}} &nbsp;{{booking.lastName}},Reservation ID # {{booking.id}} </h4>

<div class="row">
  <ul class="col-sm-6">
    <li><b>Check-In Date</b> : {{booking.fromDate}}</li>
    <li><b>Check-Out Date</b> : {{booking.toDate}}</li>
    <li><b>First Name</b> : {{booking.firstName}}</li>
    <li><b>Last Name</b> :{{booking.lastName}}</li>
    <li><b>Contact Number</b> : {{booking.mobile}}</li>
  </ul>

  <ul class="col-sm-6">
    <li><b>Number Of Person(s)</b> : {{booking.noOfPersons}}</li>
    <li><b>Number Of Room(s)</b> : {{booking.noOfRooms}}</li>
    <li><b>Email</b> : {{booking.email}}</li>
    <li><b>Booking Amount</b> : {{booking.payableAmount}}</li>
    <li><b>Booking Status</b> : {{booking.bookingStatus}}</li>
  </ul>
  <div class="row">
    <ul class="col-sm-12">
      <li><b>Booking Notes</b> : {{booking.notes}}</li>
    </ul>
  </div>
</div>
<div class="row" *ngFor="let payment of payments">
  <ul class="col-sm-4">
    <li><b>Payment Ref#</b> : {{payment.id}}</li>
  </ul>
  <ul class="col-sm-4">
    <li><b>Payment Mode</b> : {{payment.paymentMode}}</li>
  </ul>
  <ul class="col-sm-4">
    <li><b>Payment Status</b> : {{payment.status}}</li>
  </ul>
</div>