<!--div class="billing">
  <div class="col-xs-12 col-md-12">
    <div class="border-in">
      <div class="comm-title"><h3>Booking Details</h3></div>
      <div class="comment-form">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label style="color:rgb(0, 0, 0);">Check-in Date</label>
              <input
                type="date"
                placeholder="Chekin Date"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label style="color:rgb(0, 0, 0);">Check-out Date</label>
              <input
                type="date"
                placeholder="Checkout Date"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label style="color:rgb(0, 0, 0);"
                >Number Of Person(s)</label
              >
              <input type="number" class="form-control" />
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label style="color:rgb(0, 0, 0);">Number Of Room(s)</label>
              <input type="number" class="form-control" />
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="fname" style="color:rgb(0, 0, 0);"
                >First Name</label
              ><input
                type="text"
                id="fname"
                name="fname"
                class="form-control"
                required="required"
                data-error="Write your first name"
                [(ngModel)]="payment.firstName"
              />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="lname" style="color:rgb(0, 0, 0);"
                >Last Name</label
              ><input
                type="text"
                id="last-name"
                name="last-name"
                class="form-control"
                required="required"
                data-error="Write your last name"
                [(ngModel)]="payment.lastName"
              />
            </div>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="currency" style="color:rgb(0, 0, 0);"
                >Currency</label
              >
              <select
                class="form-control"
                [(ngModel)]="payment.currency"
                [formControl]="currency"
              >
                <option
                  *ngFor="let currency of currencies"
                  [value]="currency.value"
                >
                  {{ currency.viewValue }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="amount" style="color:rgb(0, 0, 0);"
                >Booking Amount</label
              ><input
                type="text"
                class="form-control"
                id="amount"
                name="amount"
                [(ngModel)]="payment.amount"
              />
            </div>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="modeofpayment" style="color:rgb(0, 0, 0);"
                >Mode Of Payment</label
              >
              <select class="form-control">
                <option
                  *ngFor="let modeofpayment of modeofpayments"
                  [value]="modeofpayment.value"
                >
                  {{ modeofpayment.viewValue }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="paymentstatus" style="color:rgb(0, 0, 0);"
                >Payment Status</label
              >
              <select class="form-control">
                <option
                  *ngFor="let paymentstatus of paymentstatuss"
                  [value]="paymentstatus.value"
                >
                  {{ paymentstatus.viewValue }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div-->