
<section class="c-block about_secc">
  <div class="container">
    <div class="about-us-sec">
      <div class="row">

        <div class="col-lg-6 p-0">
          <ul class="abt-img">
            <li>
              <img src="assets/images/8.jpg" width="100%" alt="">
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="srvc-info pt-0">
            <h3>Mandap/Conference Hall</h3>
            <p>Stage (Fix),Marriage Stage Setup facility,Lighting Facility,Centralized AC,Non-stop Water Supply,Common Washroom,Separate Waiting Room for Bride and Groom, Private Bathroom,Dedicated Front Office,Tight Security,Free Parking (Can accommodate 200-300 four wheeler),All modern amenities, kicthen Facility,Catering Facility</p>
            <a routerLink="/about" title="" class="lnk-default">About Us <i class="la la-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--ABOUT-US END-->
<section class="c-block resto-sec svr-hp5">
  <div class="container">
    <div class="sec-title">
      <h3>For Any Events</h3>
    </div>

    <!--sec-title ned-->
    <ngx-slick-carousel class="carousel listing-slider mfp-gallery-container margin-bottom-0"
    #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let gallery of galleryImage" class="slide">
      <img class="d-block w-100" height="450px" src="{{gallery.image}}" alt="First slide">
       <!-- <a  [ngStyle]="{'background-image': 'url(../../' + gallery.image + ')'}" style="background-size: cover;"  class="item mfp-gallery cover" title="{{gallery.title}}"></a> -->
    </div>
 </ngx-slick-carousel>
    <!--services_sec end-->
  </div>
</section><!--SERVICES SEC END-->
