<section class="c-block resto-sec svr-hp5">
  <div class="container">
    <div class="sec-title">
      <h3>Servıces</h3>
    </div><!--sec-title ned-->
    <div class="services_sec srvc-carousel">
      <div class="service-slide">
        <div class="srv-img">
          <img src="assets/images/8.jpg" alt="">
        </div><!--srv-img end-->
        <div class="srvc-info">
          <img src="assets/images/ic1.png" alt="">
          <h3><a href="#" title="">Restaurant</a></h3>
          <p>Phasellus enim libero, blandit vel sapien ultricies magna et. Quisque euismod orci Phasellus enim libero, blandit. </p>
          <a href="#" title="" class="lnk-default">Read More <i class="la la-arrow-right"></i></a>
        </div><!--srvc-info end-->
      </div><!--service-slide end-->
      <div class="service-slide">
        <div class="srv-img">
          <img src="assets/images/2.jpg" alt="">
        </div><!--srv-img end-->
        <div class="srvc-info">
          <img src="assets/images/ic1.png" alt="">
          <h3><a href="#" title="">Restaurant</a></h3>
          <p>Phasellus enim libero, blandit vel sapien ultricies magna et. Quisque euismod orci Phasellus enim libero, blandit. </p>
          <a href="#" title="" class="lnk-default">Read More <i class="la la-arrow-right"></i></a>
        </div><!--srvc-info end-->
      </div><!--service-slide end-->
      <div class="service-slide">
        <div class="srv-img">
          <img src="https://via.placeholder.com/568x450" alt="">
        </div><!--srv-img end-->
        <div class="srvc-info">
          <img src="assets/images/ic1.png" alt="">
          <h3><a href="#" title="">Restaurant</a></h3>
          <p>Phasellus enim libero, blandit vel sapien ultricies magna et. Quisque euismod orci Phasellus enim libero, blandit. </p>
          <a href="#" title="" class="lnk-default">Read More <i class="la la-arrow-right"></i></a>
        </div><!--srvc-info end-->
      </div><!--service-slide end-->
    </div><!--services_sec end-->
  </div>
</section><!--SERVICES SEC END-->
