
<!-- <section class="c-block about_secc">
  <div class="container">
    <div class="about-us-sec">
      <div class="row">

        <div class="col-lg-6 p-0">
          <ul class="abt-img">
            <li>
              <img src="assets/images/8.jpg" width="100%" alt="">
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="srvc-info pt-0">
            <h3>Mandap/Conference Hall</h3>
            <p>Stage (Fix),Marriage Stage Setup facility,Lighting Facility,Centralized AC,Non-stop Water Supply,Common Washroom,Separate Waiting Room for Bride and Groom, Private Bathroom,Dedicated Front Office,Tight Security,Free Parking (Can accommodate 200-300 four wheeler),All modern amenities, kicthen Facility,Catering Facility</p>
            <a routerLink="/about" title="" class="lnk-default">About Us <i class="la la-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="c-block resot-sec">
  <div class="container">
    <div class="sec-title">
      <h3>WHY CHOOSE OUR HOTEL</h3>
    </div>
    <!--sec-title end-->
    <div class="resot_sec">

      <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="resot-dv">
              <div class="resot-icon">
                <i class="flaticon-036-parking"></i></div>
                <h4><b>Location</b></h4>
                <p> location is the most significant aspect determining the development of the hotel business.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="resot-dv">
              <div class="resot-icon">
                <i class="flaticon-033-dinner"></i></div>
                <h4><b>Food Service</b></h4>
                <p>Food services sector contributes a great deal to the profits in hospitality industry. </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="resot-dv">
              <div class="resot-icon">
                <i class="flaticon-026-bed"></i></div>
                <h4><b>Room Services</b></h4>
                <p>Room service represents the wishes of guests, which were increased in recent years as a result of guest desire of more luxury and time saving.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="resot-dv">
              <div class="resot-icon">
                <i class="flaticon-024-towel"></i></div>
                <h4><b>Hygeine</b></h4>
                <p>Maintaining Personal Hygiene in Hotel, As per hotel, Hygiene is prevention, protection and destruction of harmful bacteria which contaminate in various ways.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="resot-dv">
              <div class="resot-icon">
                <i class="flaticon-044-clock-1"></i></div>
                <h4><b>Safety &amp; Security</b></h4>
                <p>The hotel security covers various aspects like guest room locking, public area security and security of the system with equipment's found in the hotel.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="resot-dv">
              <div class="resot-icon">
                <i class="flaticon-012-cocktail"></i></div>
                <h4><b>Beverages</b></h4>
                <p>Beverage  is responsible for maintaining high quality of food and service, Cost, managing restaurants, bars, etc. </p>
            </div>
        </div>
    </div>
    </div>
    <!--resot_sec end-->
  </div>
</section>
<!--ABOUT-US END-->
<section class="c-block resto-sec svr-hp5">
  <div class="container">
    <div class="sec-title">
      <h3>For Any Events</h3>
    </div>

    <!--sec-title ned-->
    <ngx-slick-carousel class="carousel listing-slider mfp-gallery-container margin-bottom-0"
    #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let gallery of galleryImage" class="slide">
      <img class="d-block w-100" height="450px" src="{{gallery.image}}" alt="First slide">
       <!-- <a  [ngStyle]="{'background-image': 'url(../../' + gallery.image + ')'}" style="background-size: cover;"  class="item mfp-gallery cover" title="{{gallery.title}}"></a> -->
    </div>
 </ngx-slick-carousel>
    <!--services_sec end-->
  </div>
</section><!--SERVICES SEC END-->
