<section class="portfolios section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title">
            <a style="color:rgb(0, 0, 0);">Book</a
            ><a style="color:rgb(255, 0, 0);"> With</a
            ><a style="color:rgb(0, 0, 0);"> Us</a>
          </h2>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <app-property
        [property]="property"
        (checkPropertyAvailabilityEmit)="getCheckPropertyAvailability($event)"
      ></app-property>
      <app-room
        *ngFor="let room of rooms"
        [room]="room"
        [property]="property"
        (checkAvailabilityEmit)="getCheckAvailability($event)"
        (roomSelectionEmit)="getSelectedRoom($event)"
      >
      </app-room>
    </div>
  </div>
</section>

<div
  class="page-in section-top80-bottom50"
  id="bookingform"
  *ngIf="checkAvailability"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title">
            <a style="color:rgb(0, 0, 0);">Book</a
            ><a style="color:rgb(255, 0, 0);"> Here</a>
          </h2>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
      <div class="blog">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
          <div class="widget">
            <div class="wi-side">
              <div class="wi-border">
                <div class="wi-content wi-trips">
                  <app-booking
                    [property]="property"
                    [room]="selectedRoom"
                  ></app-booking>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
