<div class="navbar_inner_area">
  <nav class="navigation-area overlay sticky-navbar fadeInUp" data-sticky-offset="50">
      <div class="holder">
          <div class="menu_toggle">
              <i class="fa fa-align-left"></i>
          </div>
           <a routerLink="/home" class="brand-logo">
              <!-- <img src="assets/images/logo.png" alt="logo"> -->
<img src="{{token.getProperty().logoUrl}}" alt="">
          </a>
          <div class="navbar-mobile">
              <ul class="navbar-nav single-item-right">
                  <li class="">
                      <a routerLink="/home">
                          Home
                      </a>

                  </li>
                  <li>
                      <a routerLink="/all-rooms">
                          Rooms
                      </a>
                      <!-- <ul class="DropDown">
                          <li>
                              <a href="">
                                  All Rooms
                              </a>
                          </li>
                          <li>
                              <a href="room2.php">
                                  room-2
                              </a>
                          </li>
                          <li>
                              <a href="room-details.php">
                                  Room details
                              </a>
                          </li>
                      </ul> -->
                  </li>
                  <li>
                      <a routerLink="/services">
                          Service
                      </a>

                  </li>
                  <li>
                      <a routerLink="/gallery">Gallery</a>
                  </li>
                  <li>
                      <a routerLink="/aboutus">
                          About Us
                      </a>
                  </li>

                  <li>
                      <a routerLink="/contact">
                          Contact
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</div>


