<section class="service section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title">
            <a style="color:rgb(0, 0, 0);">Our</a
            ><a style="color:rgb(255, 0, 0);"> Gallery</a>
          </h2>
        </div>
      </div>
    </div>
    <br>
    <br>
    <!-- <div class="portfolio-filter">
      <a class="current" href="#" data-filter="*">All</a
      ><a href="#" data-filter=".1">1</a><a href="#" data-filter=".2">2</a
      ><a href="#" data-filter=".3">3</a><a href="#" data-filter=".4">4</a>
    </div> -->
    <div class="row">
      <div class="portfolio-details">
        <div class="portfolio-container grid">
          <div class="grid-item col-md-4 col-sm-6 col-xs-12 4 3">
            <div class="portfolio-item">
              <img
                class="img-responsive"
                src="assets/images/gallery/1.jpg"
                alt="Gallery"
              />
              <div class="port-hover">
                <div class="port-content">
                  <a
                    href="assets/images/gallery/1.jpg"
                    data-fancybox="group"
                    class="port-icon"
                  >
                    <img
                      class="hidden-thumbnail"
                      src="assets/images/gallery/1.jpg"
                      alt="Thumbnail"/>
                    <img src="assets/images/icons/plus-btn.png" alt="Icon"
                  /></a>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-item col-md-4 col-sm-6 col-xs-12 1 2">
            <div class="portfolio-item">
              <img
                class="img-responsive"
                src="assets/images/gallery/2.jpg"
                alt="Gallery"
              />
              <div class="port-hover">
                <div class="port-content">
                  <a
                    href="assets/images/gallery/2.jpg"
                    data-fancybox="group"
                    class="port-icon"
                    ><img
                      class="hidden-thumbnail"
                      src="assets/images/gallery/2.jpg"
                      alt="Thumbnail"/><img
                      src="assets/images/icons/plus-btn.png"
                      alt="Icon"
                  /></a>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-item col-md-4 col-sm-6 col-xs-12 1 4 3">
            <div class="portfolio-item">
              <img
                class="img-responsive"
                src="assets/images/gallery/3.jpg"
                alt="Gallery"
              />
              <div class="port-hover">
                <div class="port-content">
                  <a
                    href="assets/images/gallery/3.jpg"
                    data-fancybox="group"
                    class="port-icon"
                    ><img
                      class="hidden-thumbnail"
                      src="assets/images/gallery/3.jpg"
                      alt="Thumbnail"/><img
                      src="assets/images/icons/plus-btn.png"
                      alt="Icon"
                  /></a>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-item col-md-4 col-sm-6 col-xs-12 1 2">
            <div class="portfolio-item">
              <img
                class="img-responsive"
                src="assets/images/gallery/5.jpg"
                alt="Gallery"
              />
              <div class="port-hover">
                <div class="port-content">
                  <a
                    href="assets/images/gallery/5.jpg"
                    data-fancybox="group"
                    class="port-icon"
                    ><img
                      class="hidden-thumbnail"
                      src="assets/images/gallery/5.jpg"
                      alt="Thumbnail"/><img
                      src="assets/images/icons/plus-btn.png"
                      alt="Icon"
                  /></a>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-item col-md-4 col-sm-6 col-xs-12 1 4">
            <div class="portfolio-item">
              <img
                class="img-responsive"
                src="assets/images/gallery/4.jpg"
                alt="Gallery"
              />
              <div class="port-hover">
                <div class="port-content">
                  <a
                    href="assets/images/gallery/4.jpg"
                    data-fancybox="group"
                    class="port-icon"
                    ><img
                      class="hidden-thumbnail"
                      src="assets/images/gallery/4.jpg"
                      alt="Thumbnail"/><img
                      src="assets/images/icons/plus-btn.png"
                      alt="Icon"
                  /></a>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-item col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio-item">
              <img
                class="img-responsive"
                src="assets/images/gallery/6.jpg"
                alt="Gallery"
              />
              <div class="port-hover">
                <div class="port-content">
                  <a
                    href="assets/images/gallery/6.jpg"
                    data-fancybox="group"
                    class="port-icon"
                    ><img
                      class="hidden-thumbnail"
                      src="assets/images/gallery/6.jpg"
                      alt="Thumbnail"/><img
                      src="assets/images/icons/plus-btn.png"
                      alt="Icon"
                  /></a>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-item col-md-4 col-sm-6 col-xs-12 2">
            <div class="portfolio-item">
              <img
                class="img-responsive"
                src="assets/images/gallery/7.jpg"
                alt="Gallery"
              />
              <div class="port-hover">
                <div class="port-content">
                  <a
                    href="assets/images/gallery/7.jpg"
                    data-fancybox="group"
                    class="port-icon"
                    ><img
                      class="hidden-thumbnail"
                      src="assets/images/gallery/7.jpg"
                      alt="Thumbnail"/><img
                      src="assets/images/icons/plus-btn.png"
                      alt="Icon"
                  /></a>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-item col-md-4 col-sm-6 col-xs-12 3">
            <div class="portfolio-item">
              <img
                class="img-responsive"
                src="assets/images/gallery/8.jpg"
                alt="Gallery"
              />
              <div class="port-hover">
                <div class="port-content">
                  <a
                    href="assets/images/gallery/8.jpg"
                    data-fancybox="group"
                    class="port-icon"
                    ><img
                      class="hidden-thumbnail"
                      src="assets/images/gallery/8.jpg"
                      alt="Thumbnail"/><img
                      src="assets/images/icons/plus-btn.png"
                      alt="Icon"
                  /></a>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-item col-md-4 col-sm-6 col-xs-12 2">
            <div class="portfolio-item">
              <img
                class="img-responsive"
                src="assets/images/gallery/9.jpg"
                alt="Gallery"
              />
              <div class="port-hover">
                <div class="port-content">
                  <a
                    href="assets/images/gallery/9.jpg"
                    data-fancybox="group"
                    class="port-icon"
                    ><img
                      class="hidden-thumbnail"
                      src="assets/images/gallery/9.jpg"
                      alt="Thumbnail"/><img
                      src="assets/images/icons/plus-btn.png"
                      alt="Icon"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
