<section class="c-block white-bg">
  <div class="container">
    <div class="about-us-sec about-pg">
      <div class="row">
        <div class="col-lg-5">
          <div class="about_we">
            <h2>Everything. <span>Right where</span> you need it.</h2>
            <p>Odisha (formerly Orissa), an eastern Indian state on the Bay of Bengal, is known for its tribal cultures and its many ancient Hindu temples. In Odisha at Madhusudanpur Our Hotel Mangal Niketon situated. We give the A1 quality services in entire Soro. We are one of the luxurious hotel in Odisha.</p>
          </div><!--about_we end-->
        </div>
        <div class="col-lg-7 p-0">
          <ul class="abt_img">
            <li>
              <img src="assets/images/rooms/31-320x450.jpg" alt="">
            </li>
            <li>
              <img src="assets/images/rooms/30-320x450.jpg" alt="">
            </li>
          </ul>
        </div>
      </div>
    </div><!--about-us-sec end-->
  </div>
</section><!--about-us end-->
<section class="c-block resot-sec">
  <div class="container">
    <div class="sec-title">
      <h3>WHY CHOOSE OUR HOTEL</h3>
    </div><!--sec-title end-->
    <div class="resot_sec">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="resot-dv">
            <div class="resot-icon">
              <i class="la la-wifi"></i>
            </div>
            <h3>Wifi Access</h3>
            <p>Our hotel area fully facilitated with Wifi coverage</p>
          </div><!--resot-dv end-->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="resot-dv">
            <div class="resot-icon">
              <i class="la la-diamond"></i>
            </div>
            <h3>Luxurious Rooms</h3>
            <p>Well furnished and modern amennities with large space</p>
          </div><!--resot-dv end-->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="resot-dv">
            <div class="resot-icon">
              <i class="la la-car"></i>
            </div>
            <h3>Guest Parking</h3>
            <p>Big space for guest car parking</p>
          </div><!--resot-dv end-->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="resot-dv">
            <div class="resot-icon">
              <i class="la la-globe"></i>
            </div>
            <h3>Conference Hall</h3>
            <p>A large hall where modern aminities are there with capacity of 500 guests</p>
          </div><!--resot-dv end-->
        </div>
      </div>
    </div><!--resot_sec end-->
  </div>
</section>

<section class="main-slider relax-sec">
      <div id="rev_slider_476_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="christmas-snow-scene" data-source="gallery" style="background-color:transparent;padding:0px;">
      <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
          <div id="rev_slider_476_2" class="rev_slider" style="display:none;" data-version="5.3.0.2">
              <ul>
                  <!-- SLIDE  -->
                  <li data-index="rs-1648" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="images/slider_banner.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

          <img src="https://via.placeholder.com/1920x520" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="" class="rev-slidebg" data-no-retina>
                      <!-- LAYERS -->
                      <div class="tp-caption   tp-resizeme fullscreenvideo  disable-layer tp-videolayer"
             id="lordcros-video-bg"
             data-x="0"
             data-y="0"
            data-whitespace="nowrap"
            data-type="video"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-ytid="7RVH26KaVDg" data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&wmode=opaque&showinfo=0&rel=0;;origin=https://lordcros.c-themes.com;" data-videorate="1" data-videowidth="100%" data-videoheight="100%" data-videocontrols="none" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9"			data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-autoplay="off"
            data-volume="mute"
            data-allowfullscreenvideo="true"
            style="z-index: 5;">
          </div>

          <!-- LAYER NR. 3 -->

          <h2 class="tp-caption   tp-resizeme"
            id="slide-1-layer-1"
            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['-71','-71','-71','-71']"
            data-fontsize="['30','30','30','20']"
            data-lineheight="['38','38','38','28']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":460,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 38px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Roboto Slab;text-transform:uppercase;">Relax And Enjoy Your Holiday
          </h2>

          <!-- LAYER NR. 4 -->

          <div class="tp-caption tp-resizeme"
            id="slide-1-layer-2"
            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['-34','-34','-34','-34']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":1090,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Roboto;text-transform:uppercase;">Luxury Hotel & Best Resort </div>

          <!-- LAYER NR. 5 -->

          <div class="tp-caption  vid_play tp-resizeme"
            id="slide-11-layer-3"
            data-x="center" data-hoffset="-10"
            data-y="center" data-voffset="50"
              data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-actions='[{"event":"click","action":"toggleclass","layer":"lordcros-video-bg","delay":"0","classname":"disable-layer"},{"event":"click","action":"playvideo","layer":"lordcros-video-bg","delay":"500"}]'
            data-responsive_offset="on"
            data-frames='[{"delay":1500,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 10;"><div class="lordcros-video-btn"> <img src="assets/images/icon-play.png" alt=""> </div>
          </div>
                  </li>
              </ul>
          </div>
      </div><!--Revolution Slider end-->
</section><!--MAIN-SLIDER END-->


<!-- <section class="c-block testimonial-sec">
  <div class="container">
    <div class="sec-title">
      <h3>Customer Revıews</h3>
    </div>
    <div class="testimonial-carousel">
      <div class="testi">
        <div class="ts-img">
          <img src="https://via.placeholder.com/90x90" alt="">
        </div>
        <h3>Marlene Simpson</h3>
        <span>Adventurer</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
      <div class="testi">
        <div class="ts-img">
          <img src="https://via.placeholder.com/90x90" alt="">
        </div>
        <h3>Sara Doe</h3>
        <span>Adventurer</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
      <div class="testi">
        <div class="ts-img">
          <img src="https://via.placeholder.com/90x90" alt="">
        </div>
        <h3>Shaima</h3>
        <span>Adventurer</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
    </div>
  </div>
</section> -->
<!--TESTIMONIAL-SEC END-->
