<section class="c-block white-bg">
  <div class="container">
    <div class="about-us-sec about-pg">
      <div class="row">
        <div class="col-lg-5">
          <div class="about_we">
            <div class="bd-title">
              <h2>Welcome to "Hotel Space Setter"....</h2>
              <br /><br />
              <p>
                The Hotel Space Setter is a jewel of the 19th century
                architecture, located in the strict centre of
                Patia,Bhubaneswar,Odisha. Because of our prestigious location,
                we have already for 25 years been a perfect haven both for
                people travelling for tourist, as well as business purposes.
              </p>
              <p>
                We have 20 comfortably equipped rooms, including two suites: The
                President Suite and the Ambassador Suite, with over one hundred
                metres of surface area, which are sure to awe even the most
                demanding Guests. We offer 7 rooms, where we have been preparing
                family and business meetings already for 12 years.
              </p>

              <p>
                The Hotel Space Setter is not merely the building but, above
                all, its people. We are a team of professionals, who can
                organise every event end-to-end.
              </p>

              <p>
                We have many years of experience, extensive conference
                facilities, as well as technical and catering equipment, and we
                will be more than happy to organise your meeting – both in our
                building, in a tent at the hotel's patio, as well as in any
                other place of your choosing.
              </p>
            </div>
          </div>
          <!--about_we end-->
        </div>
        <div class="col-lg-7 p-0">
          <ul class="abt_img">
            <li>
              <img src="assets/images/rooms/31-320x450.jpg" alt="" />
            </li>
            <li>
              <img src="assets/images/rooms/30-320x450.jpg" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--about-us-sec end-->
  </div>
</section>
<!--about-us end-->
<section class="c-block resot-sec">
  <div class="container">
    <div class="sec-title">
      <h3>WHY CHOOSE OUR HOTEL</h3>
    </div>
    <!--sec-title end-->
    <div class="resot_sec">

      <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="resot-dv">
              <div class="resot-icon">
                <i class="flaticon-036-parking"></i></div>
                <h4><b>Location</b></h4>
                <p> location is the most significant aspect determining the development of the hotel business.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="resot-dv">
              <div class="resot-icon">
                <i class="flaticon-033-dinner"></i></div>
                <h4><b>Food Service</b></h4>
                <p>Food services sector contributes a great deal to the profits in hospitality industry. </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="resot-dv">
              <div class="resot-icon">
                <i class="flaticon-026-bed"></i></div>
                <h4><b>Room Services</b></h4>
                <p>Room service represents the wishes of guests, which were increased in recent years as a result of guest desire of more luxury and time saving.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="resot-dv">
              <div class="resot-icon">
                <i class="flaticon-024-towel"></i></div>
                <h4><b>Hygeine</b></h4>
                <p>Maintaining Personal Hygiene in Hotel, As per hotel, Hygiene is prevention, protection and destruction of harmful bacteria which contaminate in various ways.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="resot-dv">
              <div class="resot-icon">
                <i class="flaticon-044-clock-1"></i></div>
                <h4><b>Safety &amp; Security</b></h4>
                <p>The hotel security covers various aspects like guest room locking, public area security and security of the system with equipment's found in the hotel.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="resot-dv">
              <div class="resot-icon">
                <i class="flaticon-012-cocktail"></i></div>
                <h4><b>Beverages</b></h4>
                <p>Beverage  is responsible for maintaining high quality of food and service, Cost, managing restaurants, bars, etc. </p>
            </div>
        </div>
    </div>
    </div>
    <!--resot_sec end-->
  </div>
</section>

<section class="main-slider relax-sec">
  <div
    id="rev_slider_476_1_wrapper"
    class="rev_slider_wrapper fullscreen-container"
    data-alias="christmas-snow-scene"
    data-source="gallery"
    style="background-color: transparent; padding: 0px"
  >
    <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->

  </div>
  <!--Revolution Slider end-->
</section>
<!--MAIN-SLIDER END-->

<!-- <section class="c-block testimonial-sec">
  <div class="container">
    <div class="sec-title">
      <h3>Customer Revıews</h3>
    </div>
    <div class="testimonial-carousel">
      <div class="testi">
        <div class="ts-img">
          <img src="https://via.placeholder.com/90x90" alt="">
        </div>
        <h3>Marlene Simpson</h3>
        <span>Adventurer</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
      <div class="testi">
        <div class="ts-img">
          <img src="https://via.placeholder.com/90x90" alt="">
        </div>
        <h3>Sara Doe</h3>
        <span>Adventurer</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
      <div class="testi">
        <div class="ts-img">
          <img src="https://via.placeholder.com/90x90" alt="">
        </div>
        <h3>Shaima</h3>
        <span>Adventurer</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
    </div>
  </div>
</section> -->
<!--TESTIMONIAL-SEC END-->
