<section
  class="page-head page-bg"
  style="background-image: url('assets/images/bg/vid.jpg');"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title">
            <a style="color:rgb(255, 255, 255);">Our</a
            ><a style="color:rgb(255, 0, 0);"> Guests</a>
          </h2>
        </div>
      </div>
    </div>
    <br />

    <div class="owl-carousel owl-theme guide-slider">
      <div class="team-each">
        <div class="team-member">
          <img src="assets/images/guests/1.jpg" />
        </div>
        <div class="member-name">
          <h4>Heiko</h4>
          <a>
            Sam is a really nice guy. Very open minded and it was fun to talk to
            him.
          </a>
        </div>
      </div>

      <div class="team-each">
        <div class="team-member">
          <img src="assets/images/guests/2.jpg" />
        </div>
        <div class="member-name">
          <h4>Kan Chee Kong</h4>
          <a>
            Sam is a kind and generous host who provides personalised service
            ranging from airport pickup to providing pesonal food choices.<br>His
            home is very clean and comfortable with all the mod cons and up to
            date IT facilities. <br>Nothing is too much trouble for him and our stay
            felt like we were staying with a good friend.<br>I am happy to
            recommend Sam’s to anyone looking for a great holiday accommodation.
          </a>
        </div>
      </div>

      <div class="team-each">
        <div class="team-member">
          <img src="assets/images/guests/3.jpg" />
        </div>
        <div class="member-name">
          <h4>Anne</h4>
          <p>
            The house was well located with plenty of amenities close by. It is
            close to ferry Wharf to Auckland, and on local bus routes. There
            was nothing that we didn't like. Everything was as advertised.
          </p>
        </div>
      </div>

      <div class="team-each">
        <div class="team-member">
          <img src="assets/images/guests/4.jpg" />
        </div>
        <div class="member-name">
          <h4>Laura and Caroline</h4>
          <p>
            Very nice place with a lovely interior and everything is very clean,
            the owner Sam is a very nice and kind person, we really enjoyed the
            time we spend at Sams Family home.
          </p>
        </div>
      </div>
    </div>

    <br />
  </div>
</section>
