<section class="page-head page-bg" style="background-image: url('assets/images/bg/vid.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title">
            <a style="color:rgb(255, 255, 255);">Guests</a><a style="color:rgb(255, 0, 0);"> Reviews</a>
          </h2>
        </div>
      </div>
    </div>
    <br />
    <div class="owl-carousel owl-theme guide-slider">
      <div class="team-each" *ngFor="let guestReview of guestreviews">
        <div class="profile__pic">
          <img src="{{guestReview.profilePhotoUrl}}" />
        </div>
        <div class="service-content">
          <h4 style="color:rgb(175, 66, 3);">
            {{guestReview.reviewerName}}
          </h4>
          <a>****************************</a>
          <br />
          <a style="color:rgb(0, 0, 0);"><b><p>{{guestReview.reviewText}}</p></b></a>
          <br />
          <a>****************************</a>
          <br />
          <a style="color:rgb(73, 4, 35);">
            <b>{{guestReview.relativeTimeDescription}}</b>
          </a>
          <br />
          <a style="color:rgb(73, 4, 35);"> 
            <b>Rating : {{guestReview.rating}}</b>
            <a href="http://www.sclance.com/pngs/5-star-rating-png/view-page-1.htm"><img src="http://www.sclance.com/pngs/5-star-rating-png/./5_star_rating_png_8460.png" width="25" height="25" alt="5 Star Rating Png" /></a>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>