<section class="c-block blog-hp5 dark-bg">
  <div class="container">
    <div class="sec-title">
      <h3>From The Blog</h3>
    </div><!--sec-title end-->
    <div class="blog-items lght-ovrlay">
      <div class="row blog_carousel">
        <div class="col-lg-4 col-md-6">
          <div class="blog">
            <div class="blog-img">
              <img src="https://via.placeholder.com/360x450" alt="">
              <a href="#" title="" class="blog-category">LUXURY HOTEL</a>
            </div>
            <div class="blog-info">
              <h3 class="post-title"><a href="#" title="">Spa Packages</a></h3>
              <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis. </p>
              <a href="#" title="">Read More <i class="la la-arrow-right"></i></a>
            </div>
          </div><!--blog end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog">
            <div class="blog-img">
              <img src="https://via.placeholder.com/360x450" alt="">
              <a href="#" title="" class="blog-category">NEWS</a>
            </div>
            <div class="blog-info">
              <h3 class="post-title"><a href="#" title="">Relax Zone</a></h3>
              <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis. </p>
              <a href="#" title="">Read More <i class="la la-arrow-right"></i></a>
            </div>
          </div><!--blog end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog">
            <div class="blog-img">
              <img src="https://via.placeholder.com/360x450" alt="">
              <a href="#" title="" class="blog-category">LUXURY HOTEL</a>
            </div>
            <div class="blog-info">
              <h3 class="post-title"><a href="#" title="">Proin Fermentum</a></h3>
              <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis. </p>
              <a href="#" title="">Read More <i class="la la-arrow-right"></i></a>
            </div>
          </div><!--blog end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog">
            <div class="blog-img">
              <img src="https://via.placeholder.com/360x450" alt="">
              <a href="#" title="" class="blog-category">LUXURY HOTEL</a>
            </div>
            <div class="blog-info">
              <h3 class="post-title"><a href="#" title="">Spa Packages</a></h3>
              <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis. </p>
              <a href="#" title="">Read More <i class="la la-arrow-right"></i></a>
            </div>
          </div><!--blog end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog">
            <div class="blog-img">
              <img src="https://via.placeholder.com/360x450" alt="">
              <a href="#" title="" class="blog-category">NEWS</a>
            </div>
            <div class="blog-info">
              <h3 class="post-title"><a href="#" title="">Relax Zone</a></h3>
              <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis. </p>
              <a href="#" title="">Read More <i class="la la-arrow-right"></i></a>
            </div>
          </div><!--blog end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog">
            <div class="blog-img">
              <img src="https://via.placeholder.com/360x450" alt="">
              <a href="#" title="" class="blog-category">LUXURY HOTEL</a>
            </div>
            <div class="blog-info">
              <h3 class="post-title"><a href="#" title="">Proin Fermentum</a></h3>
              <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis. </p>
              <a href="#" title="">Read More <i class="la la-arrow-right"></i></a>
            </div>
          </div><!--blog end-->
        </div>
      </div>
    </div><!--blog-items end-->
  </div>
</section><!--BLOG-SECTION END-->
