<!-- <div class="col-sm-4">
  <div class="card">
    <img
      class="card-img-top"
      height="400px"
      width="400px"
      src="assets/images/gallery/10.jpg"
      alt="Card image cap"
    />
    <div class="card-header">
      <h2>
        <a style="color:rgb(0, 0, 0);">{{ property.name }}</a>
      </h2>
    </div>
    <div class="card-body">
      <a class="card-text" style="color:rgb(0, 0, 0);"
        >Full House (Allocated Parking)</a
      >
      <br />
      <br />
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="color:rgb(0, 0, 0);">
          Standard Price Per P/N: {{ property.pricePerNight }} NZD
        </li>
        <li class="list-group-item" style="color:rgb(0, 0, 0);">
          Extra Charge Per P/N: N/A
        </li>
        <li class="list-group-item" style="color:rgb(0, 0, 0);">
          Maximum Occupancy: {{ property.maximumOccupancy }}
        </li>
        <li class="list-group-item" style="color:rgb(0, 0, 0);">
          Two Bedrooms,Lounge,<br>Kitchen,Bath
        </li>
        <li class="list-group-item" style="color:rgb(0, 0, 0);">
          Sharing Amennities : No
        </li>
      </ul>
      <a class="btn btn-primary" (click)="checkAvailability()"
        >Check Availability</a
      >
    </div>
  </div>
</div> -->

<div class="col-xs-4">
  <div class="widget">
    <div class="wi-side">
      <div class="wi-content wi-about">
        <div class="wi-about-item">
          <div class="abt-img">
            <div>
              <img src="assets/images/gallery/10.jpg" />
            </div>
          </div>
          <h4 class="wi-border-title">
            <b>{{ property.name }}</b>
          </h4>
          <a class="card-text" style="color:rgb(172, 11, 129);"
            ><b>Full House (Allocated Parking)</b></a
          >
          <br />
          <br />
          <p>
            <a style="color:rgb(255, 0, 0);">* </a
            ><b>Standard Price Per P/N: {{ property.pricePerNight }} NZD</b>
          </p>
          <p>
            <a style="color:rgb(255, 0, 0);">* </a
            ><b>Extra Charge Per P/N: N/A</b>
          </p>
          <p>
            <a style="color:rgb(255, 0, 0);">* </a
            ><b>Maximum Occupancy: {{ property.maximumOccupancy }}</b>
          </p>
          <p>
            <a style="color:rgb(255, 0, 0);">* </a
            ><b>Two Bedrooms,Lounge,Kitchen,Bath</b>
          </p>
          <p>
            <a style="color:rgb(255, 0, 0);">* </a
            ><b>Sharing Amennities : No</b>
          </p>
          <a class="btn btn-primary" (click)="checkAvailability()"
            >Check Availability</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
