<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" *ngIf="property">
  <div class="widget">
    <div class="wi-side">
      <div class="wi-content wi-about">
        <div class="wi-about-item">
          <div class="abt-img">
            <div>
              <img src="assets/images/gallery/10.jpg" />
            </div>
          </div>
          <h4 class="wi-border-title">
            <b>{{ property.name }}</b>
          </h4>
          <a class="card-text" style="color:rgb(172, 11, 129);"
            ><b>Full House (Allocated Parking)</b></a
          >
          <br />
          <br />
          <p>
            <a style="color:rgb(255, 0, 0);">* </a
            ><b>Standard Price: {{ property.pricePerNight }} NZD</b>
          </p>
          <p>
            <a style="color:rgb(255, 0, 0);">* </a
            ><b>Extra Charge (Person/Night): N/A</b>
          </p>
          <p>
            <a style="color:rgb(255, 0, 0);">* </a
            ><b>Maximum Occupancy: {{ property.maximumOccupancy }}</b>
          </p>
          <p>
            <a style="color:rgb(255, 0, 0);">* </a
            ><b>Two Bedrooms,Lounge,Kitchen,Bath</b>
          </p>
          <p>
            <a style="color:rgb(255, 0, 0);">* </a
            ><b>Sharing Amennities : No</b>
          </p>

          <a
            class="btn btn-warning"
            href="#bookingform"
            (click)="checkAvailability()"
            >Book</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
