<div class="cmn_banner_area banner_type7 bnr_overlay2">
  <div class="holder">
      <div class="hr">
          <div class="vc">
              <div class="section_title align-center">
                  <div class="section_sub_title">
                      <p>hotel service</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="hr">
          <div class="vc">
              <div class="bradecrumbe">
                  <ul class="breadcrumb justify-content-center justify-content-cd--center">
                      <li>
                          <a routerLink="/home">
                              Home
                          </a>
                      </li>
                      <li class="active">
                          Hotel Service
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="service_area_type2 ptb-95-70">
  <div class="holder">
      <div class="service_inner">
          <div class="hr">
              <div class="vc-sd-6 vc-od-3">
                  <div class="single_service  align-center mb-30">
                      <i class="fa fa-cutlery" aria-hidden="true"></i>
                          <h3>Restaurant</h3>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p> -->

                  </div>
              </div>
              <div class="vc-sd-6 vc-od-3">
                  <div class="single_service  align-center mb-30">
                      <i class="fa fa-wifi"></i>
                          <h3>wi-fi</h3>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p> -->

                  </div>
              </div>
              <div class="vc-sd-6 vc-od-3">
                  <div class="single_service align-center mb-30">
                      <i class="fa fa-bus" aria-hidden="true"></i>
                          <h3>Pick Up and Drop</h3>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p> -->

                  </div>
              </div>
              <div class="vc-sd-6 vc-od-3">
                  <div class="single_service  align-center mb-30">
                      <i class="fa fa-glass"></i>
                          <h3>Club & Bar</h3>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p> -->

                  </div>
              </div>

          </div>
          <div class="hr">
              <div class="vc-sd-6 vc-od-3">
                  <div class="single_service  align-center mb-30">
                      <i class="fa fa-bed" aria-hidden="true"></i>
                          <h3>Room Service</h3>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p> -->

                  </div>
              </div>
              <div class="vc-sd-6 vc-od-3">
                  <div class="single_service align-center mb-30">
                      <i class="fa fa-television" aria-hidden="true"></i>
                          <h3>LED TV</h3>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p> -->

                  </div>
              </div>
              <div class="vc-sd-6 vc-od-3">
                  <div class="single_service  align-center mb-30">
                      <i class="fa fa-camera" aria-hidden="true"></i>
                          <h3>Security</h3>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p> -->

                  </div>
              </div>
              <div class="vc-sd-6 vc-od-3">
                  <div class="single_service  align-center mb-30">
                      <i class="fa fa-car" aria-hidden="true"></i>
                          <h3>Car parking</h3>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p> -->

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
