<div class="page-in section-top80-bottom50">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title">
            <a style="color:rgb(0, 0, 0);">Pay</a
            ><a style="color:rgb(255, 0, 0);"> For</a>
            <a style="color:rgb(255, 0, 0);"> Your</a>
            <a style="color:rgb(0, 0, 0);"> Booking</a>
          </h2>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar>
    <div class="row">
      <div class="blog">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
          <div class="widget">
            <div class="wi-side">
              <div class="wi-border">
                <div class="wi-content wi-trips">
                  <form>
                    <div class="row">
                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-md-6"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>First Name</mat-label>
                            <input
                              type="text"
                              matInput
                              [formControl]="firstName"
                              [(ngModel)]="payment.firstName"
                              required
                            />
                            <mat-error
                              *ngIf="!firstName.valid && firstName.touched"
                              >First Name is required</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-md-6"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Last Name</mat-label>
                            <input
                              type="text"
                              matInput
                              [formControl]="lastName"
                              [(ngModel)]="payment.lastName"
                              required
                            />
                            <mat-error
                              *ngIf="!lastName.valid && lastName.touched"
                              >Last Name is required</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-md-6"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Booking Amount</mat-label>
                            <input
                              type="text"
                              matInput
                              [formControl]="amount"
                              [(ngModel)]="payment.amount"
                            />
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field class="col-md-6" color="accent" appearance="outline">
                            <mat-label>Currency</mat-label>
                            <mat-select
                              placeholder="Currency"
                              [(ngModel)]="payment.currency"
                              [formControl]="currency"
                            >
                              <mat-option
                                *ngFor="let currency of currencies"
                                [value]="currency.value"
                              >
                                {{ currency.viewValue }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-md-12"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Booking Reference Number</mat-label
                            ><input
                              type="text"
                              matInput
                              [formControl]="referenceNumber"
                              [(ngModel)]="payment.referenceNumber"
                            />
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-md-12"
                            appearance="outline"
                            color="accent"
                          >
                            <mat-label>Card Holder Name</mat-label
                            ><input
                              matInput
                              placeholder="Name On Card"
                              [formControl]="name"
                              [(ngModel)]="payment.name"
                              required
                            />
                            <mat-error *ngIf="!name.valid && name.touched"
                              >Card holder name is required!</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-md-12"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Card Number</mat-label
                            ><input
                              type="text"
                              matInput
                              placeholder="Card Number"
                              minlength="16"
                              maxlength="16"
                              pattern="[0-9]{16}"
                              [formControl]="cardNumber"
                              [(ngModel)]="payment.cardNumber"
                              required
                            />
                            <mat-error
                              *ngIf="!cardNumber.valid && cardNumber.touched"
                              >Invalid Card Number!</mat-error
                            >
                            <mat-error *ngIf="cardNumber.minlength"
                              >Card Number must be 16 digits !</mat-error
                            >
                            <mat-error *ngIf="cardNumber.maxlength"
                              >Card Number must be 16 digits !</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-4"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Expiration Month</mat-label>
                            <mat-select
                              placeholder="Expiration Month"
                              [(ngModel)]="payment.expMonth"
                              [formControl]="expMonth"
                              required
                            >
                              <mat-option
                                *ngFor="let month of months"
                                [value]="month.value"
                              >
                                {{ month.viewValue }}
                              </mat-option>
                            </mat-select>
                            <mat-error
                              *ngIf="!expMonth.valid && expMonth.touched"
                              >Card Expiration Month is required!</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-4"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Expiration Year</mat-label>
                            <mat-select
                              placeholder="Expiration Year"
                              [(ngModel)]="payment.expYear"
                              [formControl]="expYear"
                              required
                            >
                              <mat-option
                                *ngFor="let year of years"
                                [value]="year.value"
                              >
                                {{ year.viewValue }}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="!expYear.valid && expYear.touched"
                              >Card Expiration Year is required!</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-4"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>CVV</mat-label>
                            <input
                              type="text"
                              minlength="3"
                              maxlength="3"
                              matInput
                              placeholder="CVV"
                              [formControl]="cvv"
                              pattern="[0-9]{3}"
                              [(ngModel)]="payment.cvv"
                              required
                            />
                            <mat-error *ngIf="!cvv.valid && cvv.touched"
                              >Invalid CVV!</mat-error
                            >
                            <mat-error *ngIf="cvv.minlength || cvv.maxlength"
                              >CVV must be of 3 digits !</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-xs-12">
                        <div class="form-btn">
                          <input
                            type="submit"
                            name="submit"
                            value="PAY AND BOOK NOW"
                            class="cbiz-btn hvr-sweep-to-right"
                            (click)="submit()"
                          />
                        </div>
                      </div>
                    </div>
                  </form>

                  <!-- booking details -->

                  <app-bookingdetail></app-bookingdetail>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
