<div
  class="page-head page-bg"
  style="background-image: url('assets/images/bg/vid.jpg');"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title">
            <a style="color:rgb(255, 255, 255);">Pay</a
            ><a style="color:rgb(255, 0, 0);"> For</a>
            <a style="color:rgb(255, 0, 0);"> Your</a>
            <a style="color:rgb(255, 255, 255);"> Booking</a>
          </h2>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar>
    <div class="row">
      <form class="bill-payment" method="post">
        <div class="billing">
          <div class="col-xs-12 col-md-6">
            <div class="border-in">
              <div class="comm-title"><h3>Billing Details</h3></div>
              <div class="comment-form">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label for="fname" style="color:rgb(0, 0, 0);"
                        >First Name</label
                      ><input
                        type="text"
                        id="fname"
                        name="fname"
                        class="form-control"
                        required="required"
                        data-error="Write your first name"
                        [(ngModel)]="payment.firstName"
                      />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label for="lname" style="color:rgb(0, 0, 0);"
                        >Last Name</label
                      ><input
                        type="text"
                        id="last-name"
                        name="last-name"
                        class="form-control"
                        required="required"
                        data-error="Write your last name"
                        [(ngModel)]="payment.lastName"
                      />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label for="currency" style="color:rgb(0, 0, 0);"
                        >Currency</label
                      >
                      <select
                        class="form-control"
                        [(ngModel)]="payment.currency"
                        [formControl]="currency"
                      >
                        <option
                          *ngFor="let currency of currencies"
                          [value]="currency.value"
                        >
                          {{ currency.viewValue }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label for="amount" style="color:rgb(0, 0, 0);"
                        >Booking Amount</label
                      ><input
                        type="text"
                        class="form-control"
                        id="amount"
                        name="amount"
                        [(ngModel)]="payment.amount"
                      />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label for="reference-number" style="color:rgb(0, 0, 0);"
                        >Booking Reference Number</label
                      ><input
                        type="text"
                        class="form-control"
                        id="referenceNumber"
                        name="referenceNumber"
                        [(ngModel)]="payment.referenceNumber"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="payment">
          <div class="col-xs-12 col-md-6">
            <div class="border-in">
              <div class="comm-title"><h3>Payment Method</h3></div>
              <div class="comment-form">
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label for="card-holder" style="color:rgb(0, 0, 0);"
                        >Account / Card Holder Name</label
                      ><input
                        type="text"
                        id="card-holder-name"
                        name="card-holder-name"
                        class="form-control"
                        data-error="Write your name"
                        [(ngModel)]="payment.name"
                      />
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label for="card-number" style="color:rgb(0, 0, 0);"
                        >Card Number</label
                      >
                      <input
                        class="card-number form-control"
                        id="card-number"
                        name="card-number"
                        autocomplete="off"
                        [(ngModel)]="payment.cardNumber"
                        required
                      />
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                      <label for="currency" style="color:rgb(0, 0, 0);"
                        >Expiration Month</label
                      >
                      <select
                        class="form-control"
                        [(ngModel)]="payment.expMonth"
                        [formControl]="month"
                      >
                        <option
                          *ngFor="let month of months"
                          [value]="month.value"
                        >
                          {{ month.viewValue }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                      <label for="currency" style="color:rgb(0, 0, 0);"
                        >Expiration Year</label
                      >
                      <select
                        class="form-control"
                        [(ngModel)]="payment.expYear"
                        [formControl]="year"
                      >
                        <option *ngFor="let year of years" [value]="year.value">
                          {{ year.viewValue }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                      <label for="card-cvc" style="color:rgb(0, 0, 0);"
                        >CVV Code</label
                      >
                      <input
                        class="cvc form-control"
                        id="card-cvv"
                        name="my-custom-form-field__card-cvc"
                        [(ngModel)]="payment.cvv"
                      />
                    </div>
                  </div>

                  <div class="col-xs-12">
                    <div class="form-btn">
                      <input
                        type="submit"
                        name="submit"
                        value="PAY AND BOOK NOW"
                        class="cbiz-btn hvr-sweep-to-right"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="billing">
          <div class="col-xs-12 col-md-12">
            <div class="border-in">
              <div class="comm-title"><h3>Payment Details</h3></div>
              <div class="comment-form">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label style="color:rgb(0, 0, 0);">Check-in Date</label>
                      <input
                        type="date"
                        placeholder="Chekin Date"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label style="color:rgb(0, 0, 0);">Check-out Date</label>
                      <input
                        type="date"
                        placeholder="Checkout Date"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label style="color:rgb(0, 0, 0);"
                        >Number Of Person(s)</label
                      >
                      <input type="number" class="form-control" />
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label style="color:rgb(0, 0, 0);"
                        >Number Of Room(s)</label
                      >
                      <input type="number" class="form-control" />
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label for="fname" style="color:rgb(0, 0, 0);"
                        >First Name</label
                      ><input
                        type="text"
                        id="fname"
                        name="fname"
                        class="form-control"
                        required="required"
                        data-error="Write your first name"
                        [(ngModel)]="payment.firstName"
                      />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label for="lname" style="color:rgb(0, 0, 0);"
                        >Last Name</label
                      ><input
                        type="text"
                        id="last-name"
                        name="last-name"
                        class="form-control"
                        required="required"
                        data-error="Write your last name"
                        [(ngModel)]="payment.lastName"
                      />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                      <label for="currency" style="color:rgb(0, 0, 0);"
                        >Currency</label
                      >
                      <select
                        class="form-control"
                        [(ngModel)]="payment.currency"
                        [formControl]="currency"
                      >
                        <option
                          *ngFor="let currency of currencies"
                          [value]="currency.value"
                        >
                          {{ currency.viewValue }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                      <label for="amount" style="color:rgb(0, 0, 0);"
                        >Booking Amount</label
                      ><input
                        type="text"
                        class="form-control"
                        id="amount"
                        name="amount"
                        [(ngModel)]="payment.amount"
                      />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                      <label for="modeofpayment" style="color:rgb(0, 0, 0);"
                        >Mode Of Payment</label
                      >
                      <select class="form-control">
                        <option
                          *ngFor="let modeofpayment of modeofpayments"
                          [value]="modeofpayment.value"
                        >
                          {{ modeofpayment.viewValue }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                      <label for="paymentstatus" style="color:rgb(0, 0, 0);"
                        >Payment Status</label
                      >
                      <select class="form-control">
                        <option
                          *ngFor="let paymentstatus of paymentstatuss"
                          [value]="paymentstatus.value"
                        >
                          {{ paymentstatus.viewValue }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
