<div class="page-in section-top80-bottom50">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title">
            <a style="color:rgb(0, 0, 0);">Pay</a
            ><a style="color:rgb(255, 0, 0);"> For</a>
            <a style="color:rgb(255, 0, 0);"> Your</a>
            <a style="color:rgb(0, 0, 0);"> Booking</a>
          </h2>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
      <div class="blog">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
          <div class="widget">
            <div class="wi-side">
              <div class="wi-border">
                <div class="wi-content wi-trips">
                  <form
                    class="form"
                    name="paymentForm"
                    [formGroup]="paymentForm"
                  >
                    <mat-progress-bar
                      *ngIf="loader"
                      mode="indeterminate"
                    ></mat-progress-bar>
                    <br />
                    <div *ngFor="let msg of msgs" class="text-center">
                      <span
                        *ngIf="msg.summary"
                        [innerHTML]="msg.summary"
                        style="color:red;font-weight:bold"
                      ></span>

                      <span
                        *ngIf="msg.detail"
                        [innerHTML]="msg.detail"
                        style="color:rgb(55, 255, 0);font-weight:bold"
                      ></span>
                    </div>
                    <br />
                    <div class="row">
                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-12 col-xs-12 col-md-6 col-lg-6"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>First Name</mat-label>
                            <input
                              type="text"
                              matInput
                              [formControl]="firstNameFormControl"
                              [(ngModel)]="payment.firstName"
                              required
                            />
                            <mat-error
                              *ngIf="
                                firstNameFormControl.invalid &&
                                firstNameFormControl.touched
                              "
                              >First Name is required</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-12 col-xs-12 col-md-6 col-lg-6"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Last Name</mat-label>
                            <input
                              type="text"
                              matInput
                              [formControl]="lastNameFormControl"
                              [(ngModel)]="payment.lastName"
                              required
                            />
                            <mat-error
                              *ngIf="
                                lastNameFormControl.invalid &&
                                lastNameFormControl.touched
                              "
                              >Last Name is required</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-12 col-xs-12 col-md-6 col-lg-6"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Booking Amount</mat-label>
                            <input
                              type="text"
                              matInput
                              [formControl]="amountFormControl"
                              [(ngModel)]="payment.amount"
                              required
                            />
                            <mat-error
                              *ngIf="
                                amountFormControl.invalid &&
                                amountFormControl.touched
                              "
                              >Amount is required</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-12 col-xs-12 col-md-6 col-lg-6"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Currency</mat-label>
                            <mat-select
                              placeholder="Currency"
                              [(ngModel)]="payment.currency"
                              [formControl]="currencyFormControl"
                              required
                            >
                              <mat-option
                                *ngFor="let currency of currencies"
                                [value]="currency.value"
                              >
                                {{ currency.viewValue }}
                              </mat-option>
                            </mat-select>
                            <mat-error
                              *ngIf="
                                currencyFormControl.invalid &&
                                currencyFormControl.touched
                              "
                              >Currency is required</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-12 col-xs-12 col-md-12 col-lg-12"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Booking Reference Number</mat-label
                            ><input
                              type="text"
                              matInput
                              [formControl]="referenceNumberFormControl"
                              [(ngModel)]="payment.referenceNumber"
                              required
                            />
                            <mat-error
                              *ngIf="
                                referenceNumberFormControl.invalid &&
                                referenceNumberFormControl.touched
                              "
                              >Reference Number is required</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-12 col-xs-12 col-md-12 col-lg-12"
                            appearance="outline"
                            color="accent"
                          >
                            <mat-label>Card Holder Name</mat-label
                            ><input
                              matInput
                              placeholder="Name On Card"
                              [formControl]="cardHolderNameFormControl"
                              [(ngModel)]="payment.name"
                              required
                            />
                            <mat-error
                              *ngIf="
                                cardHolderNameFormControl.invalid &&
                                cardHolderNameFormControl.touched
                              "
                              >Card holder name is required!</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-12 col-xs-12 col-md-12 col-lg-12"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Card Number</mat-label
                            ><input
                              type="text"
                              matInput
                              placeholder="Card Number"
                              minlength="16"
                              maxlength="16"
                              pattern="[0-9]{16}"
                              [formControl]="cardNumberFormControl"
                              [(ngModel)]="payment.cardNumber"
                              required
                            />
                            <mat-error
                              *ngIf="
                                cardNumberFormControl.invalid &&
                                cardNumberFormControl.touched
                              "
                              >Invalid Card Number!</mat-error
                            >
                            <mat-error *ngIf="cardNumberFormControl.minlength"
                              >Card Number must be 16 digits !</mat-error
                            >
                            <mat-error *ngIf="cardNumberFormControl.maxlength"
                              >Card Number must be 16 digits !</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-12 col-xs-12 col-md-4 col-lg-4"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Expiration Month</mat-label>
                            <mat-select
                              placeholder="Expiration Month"
                              [(ngModel)]="payment.expMonth"
                              [formControl]="expMonthFormControl"
                              required
                            >
                              <mat-option
                                *ngFor="let month of months"
                                [value]="month.value"
                              >
                                {{ month.viewValue }}
                              </mat-option>
                            </mat-select>
                            <mat-error
                              *ngIf="
                                expMonthFormControl.invalid &&
                                expMonthFormControl.touched
                              "
                              >Card Expiration Month is required!</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-12 col-xs-12 col-md-4 col-lg-4"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>Expiration Year</mat-label>
                            <mat-select
                              placeholder="Expiration Year"
                              [(ngModel)]="payment.expYear"
                              [formControl]="expYearFormControl"
                              required
                            >
                              <mat-option
                                *ngFor="let year of years"
                                [value]="year.value"
                              >
                                {{ year.viewValue }}
                              </mat-option>
                            </mat-select>
                            <mat-error
                              *ngIf="
                                expYearFormControl.invalid &&
                                expYearFormControl.touched
                              "
                              >Card Expiration Year is required!</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>

                      <div>
                        <div class="form-group">
                          <mat-form-field
                            class="col-sm-12 col-xs-12 col-md-4 col-lg-4"
                            color="accent"
                            appearance="outline"
                          >
                            <mat-label>CVV</mat-label>
                            <input
                              type="text"
                              minlength="3"
                              maxlength="3"
                              matInput
                              placeholder="CVV"
                              [formControl]="cvvFormControl"
                              pattern="[0-9]{3}"
                              [(ngModel)]="payment.cvv"
                              required
                            />
                            <mat-error
                              *ngIf="
                                cvvFormControl.invalid && cvvFormControl.touched
                              "
                              >Invalid CVV!</mat-error
                            >
                            <mat-error
                              *ngIf="
                                cvvFormControl.minlength ||
                                cvvFormControl.maxlength
                              "
                              >CVV must be of 3 digits !</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button
                          mat-raised-button
                          color="accent"
                          class="submit-button"
                          type="submit"
                          [disabled]="paymentForm.invalid"
                          (click)="submit()"
                        >
                          Pay and Book Now
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
