<div class="hotel_rooms_area ptb-100-5">
  <div class="holder">
      <div class="hr">
          <div class="vc">
              <div class="section_title align-center">
                  <div class="section_sub_title">
                      <p>luxury hotel</p>
                  </div>
                  <h1>hotel rooms</h1>
              </div>
          </div>
      </div>
      <div class="hr">
          <div class="vc-sd-12">
              <div class="hotel_room_inner">
                  <div class="room-carousel-type1 owl-carousel">

                      <div class="item">
                          <div class="single_hotel_room align-center mb-30">
                              <div class="single_hotel_room_top">
                                  <img src="assets/images/room-detail-img2.jpg" alt="hotel room">
                                  <!-- <a href="booking.php" class="book_btn common_btn2 btn_hbreffect1">book now</a> -->
                              </div>
                              <div class="single_hotel_room_bottom">
                                  <h3>Executive Twin Bed Room</h3>
                                  <h3 class="numb"><span>₹</span>3800.00</h3>
                                  <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                      nibh euismod</p> -->
                                  <div class="bottom_icon">
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <div class="single_hotel_room align-center mb-30">
                              <div class="single_hotel_room_top">
                                  <img src="assets/images/room-img-5.jpg" alt="hotel room">
                                  <!-- <a href="#" class="book_btn common_btn2 btn_hbreffect1">book now</a> -->
                              </div>
                              <div class="single_hotel_room_bottom">
                                  <h3>Executive Double Bed Room</h3>
                                  <h3 class="numb"><span>₹</span>4200.00</h3>
                                  <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                      nibh euismod</p> -->
                                  <div class="bottom_icon">
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <div class="single_hotel_room  align-center mb-30">
                              <div class="single_hotel_room_top">
                                  <img src="assets/images/room-detail-img1.jpg" alt="hotel room">
                                  <!-- <a href="booking.php" class="book_btn common_btn2 btn_hbreffect1">book now</a> -->
                              </div>
                              <div class="single_hotel_room_bottom">
                                  <h3>Premium Room</h3>
                                  <h3 class="numb"><span>₹</span>4800.00</h3>
                                  <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                      nibh euismod</p> -->
                                  <div class="bottom_icon">
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
