<div id="all-area" class="all-section">
  <header class="clearfix header" data-spy="affix" data-offset-top="60">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="top-in">
              <div class="top-middle">
                <ul>
                  <li><a>A home away from home.</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="menu-area">
      <div class="menu-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-sm-2">
              <div class="h-logo">
                <a href="#"><img src="assets/images/logo.png" alt="Logo"/></a>
              </div>
            </div>
            <div class="col-lg-10 col-sm-10">
              <div class="menu-search">
                <nav class="main-menu">
                  <ul>
                    <li>
                      <a href="#home">Home</a>
                    </li>
                    <li>
                      <a href="#about">About</a>
                    </li>
                    <li>
                      <a href="#amenities">Amenities</a>
                    </li>
                    <li>
                      <a href="#book">Book</a>
                    </li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#guest">Our Guests</a></li>
                    <li><a href="#payment">Payment</a></li>
                    <li><a href="#policy">Our Policies</a></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="mobile-nav-wrap" class="clearfix">
        <div class="container">
          <div class="mobile-logo">
            <div class="h-logo">
              <a><img src="assets/images/logo.png" alt="Logo"/></a>
            </div>
          </div>
          <div class="toggle-inner"></div>
        </div>
      </div>
      <div class="mobile-menu-inner">
        <div class="mobile-in-logo">
          <div class="close-menu"><i class="fas fa-times"></i></div>
        </div>
        <nav>
          <ul class="slide-menu">
            <li class="active-item">
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#amenities">Amenities</a>
            </li>
            <li>
              <a href="#book">Book</a>
            </li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#guest">Our Guests</a></li>
            <li><a href="#payment">Payment</a></li>
            <li><a href="#policy">Our Policies</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <!-- slider section start -->
  <section id="main-slider" id="home" class="slider-style-3">
    <div
      id="main-slide"
      class="main-slider carousel slide"
      data-pause="false"
      data-interval="5000"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
        <li data-target="#main-slide" data-slide-to="1"></li>
        <li data-target="#main-slide" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img
            class="img-responsive"
            src="assets/images/slider/2.jpg"
            alt="slider"
          />
          <div class="slider-content">
            <div class="container">
              <div class="row">
                <div class="col-xs-10 col-md-8 col-lg-6">
                  <h2 class="animated3">
                    A <a style="color:rgb(255, 0, 0);"> Charming</a> Welcome
                  </h2>
                  <h2 class="animated2">to</h2>
                  <h2 class="animated1 slide-para">
                    Sam's <a style="color:rgb(255, 0, 0);">Family</a> Home
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img
            class="img-responsive"
            src="assets/images/slider/4.jpg"
            alt="slider"
          />
          <div class="slider-content">
            <div class="container">
              <div class="row">
                <div class="col-xs-10 col-md-8 col-lg-6">
                  <img
                    src="assets/images/winner.gif"
                    style="width:400px;height:400px;"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img
            class="img-responsive"
            src="assets/images/slider/5.jpg"
            alt="slider"
          />
          <div class="slider-content">
            <div class="container">
              <div class="row">
                <div class="col-xs-10 col-md-8 col-lg-6">
                  <img
                    src="assets/images/social_media.png"
                    style="width:400px;height:400px;"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container with-us-social">
      <div class="follow">
        <p>Follow us</p>
        <ul>
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-pinterest"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-yelp"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- slider section end -->

  <!-- about start -->
  <section
    class="vid cbiz-bg"
    style="background-image: url('assets/images/bg/vid.jpg');"
    id="about"
  >
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
          <div class="section-heading">
            <div class="video-content">
              <h2>
                Few <a style="color:rgb(255, 0, 0);">Words</a> About Our Hotel
              </h2>
              <br />
              <br />
              <p>
                Our home features two bright and sunny double bedrooms, lounge,
                kitchen, toilet, shower, parking and a small garden. All
                bookings come with complementary breakfast. For parking, advance
                booking is required to get an allocated parking. There are many
                unallocated parking available as well. All the guests have free
                access to all the common areas :
                <br />
                <b>* Lounge &nbsp; * Kitchen &nbsp; * Dinning</b>
                <br />For Entertainment
                <br />
                <b
                  >* WiFi &nbsp; * Sky &nbsp; * NetFlix &nbsp; * Neon &nbsp; *
                  Amazon Prime</b
                >
              </p>
              <p>
                Sam’s family home has a modern, well equipped kitchen that will
                suit your requirements. For the lazy chef one can find all the
                plates and cutlery to enjoy a take away meal from one of the
                numerous, varied and of course excellent restaurants nearby. The
                more ambitious chef is also catered for with all the utensils
                and cooking facilities to create a gourmet meal.
              </p>
              <p>
                Guests can book a room or the full house based on their
                accomodation needs. Pricing details are mentioned in our
                <a href="#book" style="color:rgb(255, 0, 0);">
                  <u>booking</u>
                </a>
                section. When travelling with family & kids, we would recommend
                to book the whole house. The kids room has a trundler bed, can
                accommodate two people. An extra person can be accommodated for
                an extra <b>$20 NZD</b>. For promotions and discounts, Contact
                Us. We always honour promotional price of our partner website
                such as <b>booking.com</b> , <b>expedia.com</b>,
                <b>airbnb.com</b>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about end -->

  <!-- amenities start -->
  <app-amenities id="amenities"></app-amenities>
  <!-- amenities end -->

  <!-- booking start -->
  <app-book id="book" [property]="property" [rooms]="rooms" ></app-book>
  <!-- booking end -->

  <!-- payment start -->
  <app-payment id="payment" [payment]="payment"></app-payment>
  <!-- payment end -->

  <!-- gallery stary -->
  <app-gallery id="gallery"></app-gallery>
  <!-- gallery end -->

  <!-- guest start -->
  <app-guest id="guest"></app-guest>
  <!-- guest end -->

  <!-- policy start -->
  <app-policy id="policy"></app-policy>
  <!-- policy end -->

  <!-- contact stary -->
  <app-contact id="contact" [property]="property" ></app-contact>
  <!-- contact end -->

  <!-- footer start -->
  <footer class="footer">
    <div class="copyright">
      <div class="container">
        &copy; Copyrights 2018. All rights reserved by :
        <a class="copy-link" href="#home"> SamsHotel</a>
      </div>
    </div>
  </footer>
  <!-- footer end -->

  <a href="#" class="back-to-top"><i class="fas fa-angle-up"></i></a>
</div>
