<div id="all-area" class="all-section">
  <header class="clearfix header" data-spy="affix" data-offset-top="60">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="top-in">
              <div class="top-middle">
                <ul>
                  <li><a>Any sort description</a></li>
                </ul>
              </div>
              <div class="top-right">
                <div class="reserv hidden-xs">
                  <a href="#" class="cbiz-btn">Check Availablity</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="menu-area">
      <div class="menu-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-sm-2">
              <div class="h-logo">
                <a href="#"><img src="assets/images/logo.png" alt="Logo"/></a>
              </div>
            </div>
            <div class="col-lg-10 col-sm-10">
              <div class="menu-search">
                <nav class="main-menu">
                  <ul>
                    <li>
                      <a href="#home">Home</a>
                    </li>
                    <li>
                      <a href="#about">About</a>
                    </li>
                    <li>
                      <a href="#amenities">Amenities</a>
                    </li>
                    <li>
                      <a href="#book">Book</a>
                    </li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#payment">Payment</a></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="mobile-nav-wrap" class="clearfix">
        <div class="container">
          <div class="mobile-logo">
            <div class="h-logo">
              <a href="index-2.html"
                ><img src="assets/images/logo.png" alt="Logo"
              /></a>
            </div>
          </div>
          <div class="toggle-inner"></div>
        </div>
      </div>
      <div class="mobile-menu-inner">
        <div class="mobile-in-logo">
          <div class="mob-inner-logo">
            <a href="#"> <img src="assets/images/logo.png" alt="Logo"/></a>
          </div>
          <div class="close-menu"><i class="fas fa-times"></i></div>
        </div>
        <nav>
          <ul class="slide-menu">
            <li class="active-item">
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#amenities">Amenities</a>
            </li>
            <li>
              <a href="#book">Book</a>
            </li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#payment">Payment</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <!-- slider section start -->
  <section id="main-slider" id="home" class="slider-style-3">
    <div
      id="main-slide"
      class="main-slider carousel slide"
      data-pause="false"
      data-interval="5000"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
        <li data-target="#main-slide" data-slide-to="1"></li>
        <li data-target="#main-slide" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img
            class="img-responsive"
            src="assets/images/slider/2.jpg"
            alt="slider"
          />
          <div class="slider-content">
            <div class="container">
              <div class="row">
                <div class="col-xs-10 col-md-8 col-lg-6">
                  <h2 class="animated3">Demo</h2>
                  <p class="animated4 slide-para">
                    sort description
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img
            class="img-responsive"
            src="assets/images/slider/4.jpg"
            alt="slider"
          />
          <div class="slider-content">
            <div class="container">
              <div class="row">
                <div class="col-xs-10 col-md-8 col-lg-6">
                  <h2 class="animated6">Demo</h2>
                  <p class="animated1 slide-para">
                    sort description
                  </p>
                  <div class="book-form animated9">
                    <div class="book-that">
                      <form>
                        <ul>
                          <li>
                            <button
                              type="submit"
                              class="form-control cbiz-btn cbiz-btn-yellow"
                            >
                              Book Now
                            </button>
                          </li>
                        </ul>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img
            class="img-responsive"
            src="assets/images/slider/5.jpg"
            alt="slider"
          />
          <div class="slider-content">
            <div class="container">
              <div class="row">
                <div class="col-xs-10 col-md-8 col-lg-6">
                  <h2 class="animated2">Demo</h2>
                  <p class="animated3 slide-para">
                    sort description
                  </p>
                  <div class="book-form animated4">
                    <div class="book-that">
                      <form>
                        <ul>
                          <li>
                            <button
                              type="submit"
                              class="form-control cbiz-btn cbiz-btn-yellow"
                            >
                              Book Now
                            </button>
                          </li>
                        </ul>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container with-us-social">
      <div class="follow">
        <p>Follow us</p>
        <ul>
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-pinterest"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-yelp"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- slider section end -->

  <!-- about start -->
  <section
    class="vid cbiz-bg"
    style="background-image: url('assets/images/bg/vid.jpg');"
    id="about"
  >
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
          <div class="section-heading">
            <div class="video-content">
              <h2>Few Words About Our Hotel</h2>
              <p>
                sort description
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about end -->

  <!-- amenities start -->
  <app-amenities id="amenities"></app-amenities>
  <!-- amenities end -->

  <!-- booking start -->
  <app-book id="book"></app-book>
  <!-- booking end -->

  <!-- payment start -->
  <app-payment id="payment"></app-payment>
  <!-- payment end -->

  <!-- gallery stary -->
  <app-gallery id="gallery"></app-gallery>
  <!-- gallery end -->

  <!-- contact stary -->
  <app-contact id="contact"></app-contact>
  <!-- contact end -->

  <!-- footer start -->
  <footer class="footer">
    <div class="copyright">
      <div class="container">
        &copy; Copyrights 2018. All rights reserved by :
        <a class="copy-link" href="#home"> SamsHotel</a>
      </div>
    </div>
  </footer>
  <!-- footer end -->

  <a href="#" class="back-to-top"><i class="fas fa-angle-up"></i></a>
</div>
