<section class="c-block p-0">
  <div class="container-fluid p-0">
    <div class="contact-ful-sect">
      <div class="row">
        <div class="col-lg-6">
          <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="9" [scrollwheel]="mapScrollWheel">
              <agm-marker  [latitude]="23" [longitude]="90" >
                <agm-info-window>
                  <div class="infoBox">
                  <div class="map-box">
                     <a class="listing-img-container">

                         <div class="listing-item-content">
                           <h3>{{property.name}}</h3>
                           <span><small>{{property.address.city}} {{property.address.country}}</small></span>
                         </div>
                     </a>
                  </div>
                 </div>
               </agm-info-window>
              </agm-marker>
           </agm-map> -->
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m30!1m12!1m3!1d7484.522859664203!2d85.85403619999998!3d20.289443299999988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m15!3e0!4m3!3m2!1d20.2894433!2d85.8540362!4m5!1s0x3a190922e5b4838f%3A0xed6b418e6b502bb6!2sOYO%2066350%20Hotel%20Space%20Setter%2C%20infront%20of%2C%2084%2C%20KIIT%20Road%2C%20Chandaka%20Industrial%20Estate%2C%20Patia%2C%20Bhubaneswar%2C%20Odisha%20751024!3m2!1d20.3547868!2d85.81626829999999!4m3!3m2!1d20.2839387!2d85.8484787!5e0!3m2!1sen!2sin!4v1581945272445!5m2!1sen!2sin"
            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
        <div class="col-lg-6">
          <div class="get-tch mb-5">
            <h3>Get In Touch</h3>
            <ul class="contact_list_info">
              <li>
                <div class="cco_icon">
                  <img src="assets/images/ccc1.png" alt="">
                </div>
                <span><strong>Address:</strong> {{ property.address.streetName }} {{ property.address.streetNumber }} {{ property.address.suburb }} {{ property.address.city }} {{ property.address.state }} {{ property.address.country }} {{ property.address.postcode }}</span>
              </li>
              <li>
                <div class="cco_icon">
                  <img src="assets/images/ccc2.png" alt="">
                </div>
                <span><strong>Phone:</strong> {{ property.mobile + ', ' }} {{ property.landphone }}</span>
              </li>
              <li>
                <div class="cco_icon">
                  <img src="assets/images/cs4.png" alt="">
                </div>
                <span><strong>Email:</strong> {{property.email}}</span>
              </li>
              <li>
                <div class="cco_icon">
                  <img src="assets/images/ccc3.png" alt="">
                </div>
                <span><strong>Opening Hours :</strong> Monday - Friday 09.00 - 23.00 Sunday 09.00 - 16.00 </span>
              </li>
            </ul>
          </div>
          <!--get-tch end-->
        </div>
      </div>
    </div>
    <!--contact-ful-sect end-->
  </div>
</section>
