
<section class="c-block p-0">
  <div class="container-fluid p-0">
    <div class="contact-ful-sect">
      <div class="row">
        <div class="col-lg-6">
          <div id="map"></div>
        </div>
        <div class="col-lg-6">
          <div class="get-tch">
            <h3>Get In Touch</h3>
            <ul class="contact_list_info">
              <li>
                <div class="cco_icon">
                  <img src="assets/images/ccc1.png" alt="">
                </div>
                <span><strong>Address:</strong> Madhusudanpur, Po-Soro, Balasore, Odisha-756045</span>
              </li>
              <li>
                <div class="cco_icon">
                  <img src="assets/images/ccc2.png" alt="">
                </div>
                <span><strong>Phone:</strong> +919439700304</span>
              </li>
              <li>
                <div class="cco_icon">
                  <img src="assets/images/cs4.png" alt="">
                </div>
                <span><strong>Email:</strong> janaki.bhoi@gmail.com</span>
              </li>
              <li>
                <div class="cco_icon">
                  <img src="assets/images/ccc3.png" alt="">
                </div>
                <span><strong>Opening Hours :</strong> Monday - Friday 09.00 - 23.00 Sunday 09.00 - 16.00</span>
              </li>
            </ul>
          </div><!--get-tch end-->
        </div>
      </div>
    </div><!--contact-ful-sect end-->
  </div>
</section>
