<div class="banner_area_type3 bnr_overlay2">
  <div class="holder">
      <div class="hr">
          <div class="vc">
              <div class="banner_section_title align-center">
                  <div class="section_sub_title">
                      <p>about us</p>
                  </div>
                  <h1>A BEST PLACE TO ENJOY<br>YOUR LIFE</h1>
              </div>
          </div>
      </div>
      <div class="hr">
          <div class="vc">
              <div class="bradecrumbe">
                  <ul class="breadcrumb justify-content-center justify-content-cd--center">
                      <li>
                          <a routerLink='/'>
                              Home
                          </a>
                      </li>
                      <li class="active">
                          About Us
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="about_counter_area ptb-95-70">
  <div class="holder">
      <div class="about_counter_inner">
          <div class="hr">
              <div class="vc-sd-8 vc-sd-offset-2">
                  <div class="about_counter_text ">
                      <div class="hr">
                          <div class="vc-od-6 vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0">
                              <img src="assets/images/details_img1.jpg" alt="">
                          </div>

                          <div class="vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0">
                            <p>Strategically located near Biju Patnaik International Airport, Hotel Pentagon is one of the most preferred budget hotels in Bhubaneswar. Leisure travellers and pilgrims opt for this hotel owing to its:</p>
                            <ul>
                            <li>Clean &amp; hygienic rooms, disinfected at regular intervals</li>
                            <li>	Prime location</li>
                            <li>	Conference facilities</li>
                            <li>	In-house restaurant</li>
                            </ul>
                          </div>
                      </div>
                      <!-- <div class="hr">
                          <div class="vc-od-6 vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0">
                              <div class="about_counter_head align-left">
                                  <h2>Lets Talk</h2>
                              </div>
                              <p>
                                  Lets Talk is a place to have private meetings. fine dinning with a variety of wines to chose from or to even have a small get-together. where exquisite emersive, impeccable service modern indulgence and refined taste defines every visit.thats not all.. if your looking for something higer up
                              </p> <br> <br> <br>
                          </div>

                          <div class="vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0"><img src="assets/images/service_img6.jpg" alt="">

                          </div>
                      </div>
                      <div class="hr">
                          <div class="vc-od-6 vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0">
                              <img src="assets/images/service_img5.jpg" alt="">
                          </div>

                          <div class="vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0">
                              <div class="about_counter_head align-left">

                                  <h2>Top-Notch air</h2>
                              </div>

                              <p>
                                  Top-Notch air is our sky lounge with majestic settings carefully curated cocktails and cuisines that will get your palate excited.our brunches are definitely something to look forward too.
                              </p> <br> <br> <br>
                          </div>
                      </div>
                      <div class="hr">
                          <div class="vc-od-6 vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0">
                              <div class="about_counter_head align-left">

                                  <h2>Top Notch</h2>
                              </div>

                              <p>
                                  The word says it all. u can expect top service and find an enriching experience thoughtfully crafted by associates who truly love what they do. Come experience the madrix madness with celebrity djs and top entertainers guaranteeing you a night to remember!
                              </p> <br> <br> <br>
                          </div>

                          <div class="vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0"><img src="assets/images/service_img2.jpg" alt="">

                          </div>
                      </div> -->

                      <!-- <div class="about_counter_head align-left">
                          <h2>Lets Talk</h2>
                      </div>
                      <p>
                          Lets Talk is a place to have private meetings. fine dinning with a variety of wines to chose from or to even have a small get-together. where exquisite emersive, impeccable service modern indulgence and refined taste defines every visit.thats not all.. if your looking for something higer up
                      </p>
                      <div class="about_counter_head align-left">

                          <h2>Top-Notch air</h2>
                      </div>

                      <p>
                          Top-Notch air is our sky lounge with majestic settings carefully curated cocktails and cuisines that will get your palate excited.our brunches are definitely something to look forward too.
                      </p>
                      <div class="about_counter_head align-left">

                          <h2>Top Notch</h2>
                      </div>

                      <p>
                          The word says it all. u can expect top service and find an enriching experience thoughtfully crafted by associates who truly love what they do. Come experience the madrix madness with celebrity djs and top entertainers guaranteeing you a night to remember!
                      </p> -->
                      <br>
                      <strong>Where we are Located</strong>
                      <ul>
                      <li>	Hotel Pentagon is located at Kalpana Square, Laxmisagar, Bhubaneswar</li>
                      <li>	Biju Patnaik International Airport and Bhubaneswar railway station are both within a radius of 4 km of the hotel</li>
                      <li>	Some of the nearby landmarks are Syndicate Bank (300 m), The Revenue Inspector Office (400 m), Allahabad Bank (550 m) and Mahadev Temple (600 m)</li>
                      </ul>
                      <strong>Our Rooms and Amenities</strong>
                      <ul>
                      <li>	Hotel Pentagon offers hygienic rooms that are well-lit and come with a host of modern amenities</li>
                      <li>	Air conditioner, flat-screen TV with a satellite connection, wardrobe and attached washroom with complimentary toiletries are common to all rooms</li>
                      <li>	The hotel also has ample parking space, a banquet hall and a reliable power backup for guests</li>
                      </ul>
                      <strong>Where to Eat</strong>
                      <ul>
                      <li>	An in-house restaurant is available for guests staying at Hotel Pentagon</li>
                      <li>	Guests can also suffice their untimely hunger in the comfort of their rooms by ordering food from the food menu which is provided in every room</li>
                      <li>	Nearby restaurants are Hotel Bansidhar (350 m), Truptee Veg Restaurant (500 m), Taste of China (1 km) and Narula's Restaurant (1.6 km)</li>
                      </ul>
                      <strong>What You'll Love</strong>
                      <ul>
                      <li>	Sightseeing: Odisha State Museum (700 m), Lingaraj Temple (3.2 km) and Nandankanan Zoological Park (17.7 km) are some of the major attractions in Bhubaneswar</li>
                      <li>	Shopping: Bapuji Nagar (1.5 km), Unit 2 Market Building (2.2 km), Ekamra Haat (3.5 km) and Shahid Nagar Market (3.6 km) are a few of the most popular shopping destinations near the hotel</li>
                      </ul>
                  </div>
              </div>
              <div class="all-amenities">
                <h2 class="block-title">Hotel Amenities</h2>
                <div class="room-features">
                  <ul>
                                      <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181207023330.png" data-original="https://static.fabhotels.com/amenities/icon_20181207023330.png" style="display: inline;">

                        </span>
                        <span class="text">24X7 Security</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120050459.png" data-original="https://static.fabhotels.com/amenities/icon_20181120050459.png" style="display: inline;">

                        </span>
                        <span class="text">Free Wifi</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120050850.png" data-original="https://static.fabhotels.com/amenities/icon_20181120050850.png" style="display: inline;">

                        </span>
                        <span class="text">Lift</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120051348.png" data-original="https://static.fabhotels.com/amenities/icon_20181120051348.png" style="display: inline;">

                        </span>
                        <span class="text">Parking</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120053612.png" data-original="https://static.fabhotels.com/amenities/icon_20181120053612.png" style="display: inline;">

                        </span>
                        <span class="text">AC</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120053934.png" data-original="https://static.fabhotels.com/amenities/icon_20181120053934.png" style="display: inline;">

                        </span>
                        <span class="text">Conference Room</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120054445.png" data-original="https://static.fabhotels.com/amenities/icon_20181120054445.png" style="display: inline;">

                        </span>
                        <span class="text">Laundry Service</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120054656.png" data-original="https://static.fabhotels.com/amenities/icon_20181120054656.png" style="display: inline;">

                        </span>
                        <span class="text">Restaurant</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120054732.png" data-original="https://static.fabhotels.com/amenities/icon_20181120054732.png" style="display: inline;">

                        </span>
                        <span class="text">Room Service</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120054930.png" data-original="https://static.fabhotels.com/amenities/icon_20181120054930.png" style="display: inline;">

                        </span>
                        <span class="text">Wardrobe or Closet</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120055030.png" data-original="https://static.fabhotels.com/amenities/icon_20181120055030.png" style="display: inline;">

                        </span>
                        <span class="text">Mineral Water Bottle</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120055054.png" data-original="https://static.fabhotels.com/amenities/icon_20181120055054.png" style="display: inline;">

                        </span>
                        <span class="text">Daily Housekeeping</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120055139.png" data-original="https://static.fabhotels.com/amenities/icon_20181120055139.png" style="display: inline;">

                        </span>
                        <span class="text">Free Toiletries</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120055221.png" data-original="https://static.fabhotels.com/amenities/icon_20181120055221.png" style="display: inline;">

                        </span>
                        <span class="text">LCD TV</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120040118.png" data-original="https://static.fabhotels.com/amenities/icon_20181120040118.png" style="display: inline;">

                        </span>
                        <span class="text">Clean Towels</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120040227.png" data-original="https://static.fabhotels.com/amenities/icon_20181120040227.png" style="display: inline;">

                        </span>
                        <span class="text">Clean Linen</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181207011115.png" data-original="https://static.fabhotels.com/amenities/icon_20181207011115.png" style="display: inline;">

                        </span>
                        <span class="text">Toilet Paper</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120042733.png" data-original="https://static.fabhotels.com/amenities/icon_20181120042733.png" style="display: inline;">

                        </span>
                        <span class="text">Wake-Up Service</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181120044032.png" data-original="https://static.fabhotels.com/amenities/icon_20181120044032.png" style="display: inline;">

                        </span>
                        <span class="text">DTH Channels</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181207023056.png" data-original="https://static.fabhotels.com/amenities/icon_20181207023056.png" style="display: inline;">

                        </span>
                        <span class="text">Tile/Marble floor</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20181207023028.png" data-original="https://static.fabhotels.com/amenities/icon_20181207023028.png" style="display: inline;">

                        </span>
                        <span class="text">24-Hour Front Desk</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20190213050430.png" data-original="https://static.fabhotels.com/amenities/icon_20190213050430.png" style="display: inline;">

                        </span>
                        <span class="text">Banquet Hall</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/icon_20190213050542.png" data-original="https://static.fabhotels.com/amenities/icon_20190213050542.png" style="display: inline;">

                        </span>
                        <span class="text">Card Payment</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869340917.png" data-original="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869340917.png" style="display: inline;">

                        </span>
                        <span class="text">Fire NOC</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869612442.png" data-original="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869612442.png" style="display: inline;">

                        </span>
                        <span class="text">Fire Extinguishers</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869704915.png" data-original="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869704915.png" style="display: inline;">

                        </span>
                        <span class="text">Smoke Detectors</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869755497.png" data-original="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869755497.png" style="display: inline;">

                        </span>
                        <span class="text">Water Sprinklers</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869776703.png" data-original="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869776703.png" style="display: inline;">

                        </span>
                        <span class="text">Fire Exit</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869827355.png" data-original="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869827355.png" style="display: inline;">

                        </span>
                        <span class="text">Fire Hose Reels</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869884487.png" data-original="https://static.fabhotels.com/amenities/images/default_amenity_icon1579869884487.png" style="display: inline;">

                        </span>
                        <span class="text">FSSAI Licence</span>
                      </li>
                                          <li>
                        <span class="amenities-icon">
                                      <img class="lazy" src="https://static.fabhotels.com/amenities/images/default_amenity_icon1580129225780.png" data-original="https://static.fabhotels.com/amenities/images/default_amenity_icon1580129225780.png" style="display: inline;">

                        </span>
                        <span class="text">Electric Kettle (On Request)</span>
                      </li>
                                        </ul>
                  </div>
              </div>
              <!-- <div class="vc-cd-6 vc-sd-5 vc-od-2 vc-sd-offset-1 vc-od-offset-2">
                      <div class="single_counter_box align-center">
                          <div class="counter_num">
                              <div class="counter_taxt">
                                  <span>client</span>
                              </div>
                              <span class="counter">190</span>
                          </div>
                      </div>
                  </div>
                  <div class="vc-cd-6 vc-sd-5 vc-od-2">
                      <div class="single_counter_box align-center">
                          <div class="counter_num">
                              <div class="counter_taxt">
                                  <span>rooms</span>
                              </div>
                              <span class="counter">200</span>
                          </div>
                      </div>
                  </div>
                  <div class="vc-cd-6 vc-sd-5 vc-sd-offset-1 vc-od-2 vc-od-offset-0">
                      <div class="single_counter_box align-center">
                          <div class="counter_num">
                              <div class="counter_taxt">
                                  <span>stuff</span>
                              </div>
                              <span class="counter">800</span>
                          </div>
                      </div>
                  </div>
                  <div class="vc-cd-6 vc-sd-5 vc-od-2">
                      <div class="single_counter_box align-center">
                          <div class="counter_num">
                              <div class="counter_taxt">
                                  <span>award</span>
                              </div>
                              <span class="counter">150</span>
                          </div>
                      </div>
                  </div> -->
          </div>
      </div>
  </div>
</div>

