<div class="banner_area_type3 bnr_overlay2">
  <div class="holder">
      <div class="hr">
          <div class="vc">
              <div class="banner_section_title align-center">
                  <div class="section_sub_title">
                      <p>about us</p>
                  </div>
                  <h1>A BEST PLACE TO ENJOY<br>YOUR LIFE</h1>
              </div>
          </div>
      </div>
      <div class="hr">
          <div class="vc">
              <div class="bradecrumbe">
                  <ul class="breadcrumb justify-content-center justify-content-cd--center">
                      <li>
                          <a href="index.php">
                              Home
                          </a>
                      </li>
                      <li class="active">
                          About Us
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="about_counter_area ptb-95-70">
  <div class="holder">
      <div class="about_counter_inner">
          <div class="hr">
              <div class="vc-sd-8 vc-sd-offset-2">
                  <div class="about_counter_text ">
                      <div class="hr">
                          <div class="vc-od-6 vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0">
                              <img src="assets/images/banner_bg2.jpg" alt="">
                          </div>

                          <div class="vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0">
                              <p>Zoris boutique hotel is an iconic lifestyle brand that bouldly colors outside the lines of luxury.

                                  We are here to bring you the best of what Bhubaneswar has to offer.
                                  Be it a business trip, a family vacation, a birthday an anniversary or a Fabulous night on the town we have it all, fantastic rooms with excellent room service to restaurants and pubs each special in their own way.
                              </p> <br> <br> <br>
                          </div>
                      </div>
                      <div class="hr">
                          <div class="vc-od-6 vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0">
                              <div class="about_counter_head align-left">
                                  <h2>Lets Talk</h2>
                              </div>
                              <p>
                                  Lets Talk is a place to have private meetings. fine dinning with a variety of wines to chose from or to even have a small get-together. where exquisite emersive, impeccable service modern indulgence and refined taste defines every visit.thats not all.. if your looking for something higer up
                              </p> <br> <br> <br>
                          </div>

                          <div class="vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0"><img src="assets/images/service_img6.jpg" alt="">

                          </div>
                      </div>
                      <div class="hr">
                          <div class="vc-od-6 vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0">
                              <img src="assets/images/service_img5.jpg" alt="">
                          </div>

                          <div class="vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0">
                              <div class="about_counter_head align-left">

                                  <h2>Top-Notch air</h2>
                              </div>

                              <p>
                                  Top-Notch air is our sky lounge with majestic settings carefully curated cocktails and cuisines that will get your palate excited.our brunches are definitely something to look forward too.
                              </p> <br> <br> <br>
                          </div>
                      </div>
                      <div class="hr">
                          <div class="vc-od-6 vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0">
                              <div class="about_counter_head align-left">

                                  <h2>Top Notch</h2>
                              </div>

                              <p>
                                  The word says it all. u can expect top service and find an enriching experience thoughtfully crafted by associates who truly love what they do. Come experience the madrix madness with celebrity djs and top entertainers guaranteeing you a night to remember!
                              </p> <br> <br> <br>
                          </div>

                          <div class="vc-sd-8 vc-sd-offset-2 vc-od-6 vc-od-offset-0"><img src="assets/images/service_img2.jpg" alt="">

                          </div>
                      </div>

                      <!-- <div class="about_counter_head align-left">
                          <h2>Lets Talk</h2>
                      </div>
                      <p>
                          Lets Talk is a place to have private meetings. fine dinning with a variety of wines to chose from or to even have a small get-together. where exquisite emersive, impeccable service modern indulgence and refined taste defines every visit.thats not all.. if your looking for something higer up
                      </p>
                      <div class="about_counter_head align-left">

                          <h2>Top-Notch air</h2>
                      </div>

                      <p>
                          Top-Notch air is our sky lounge with majestic settings carefully curated cocktails and cuisines that will get your palate excited.our brunches are definitely something to look forward too.
                      </p>
                      <div class="about_counter_head align-left">

                          <h2>Top Notch</h2>
                      </div>

                      <p>
                          The word says it all. u can expect top service and find an enriching experience thoughtfully crafted by associates who truly love what they do. Come experience the madrix madness with celebrity djs and top entertainers guaranteeing you a night to remember!
                      </p> -->
                      <br>
                      <p>
                          If you lean towards memorable experiences with unique perspectives or whatever your preference is we can’t wait to welcome you.
                          We are Top-notch !
                      </p>
                  </div>
              </div>
              <!-- <div class="vc-cd-6 vc-sd-5 vc-od-2 vc-sd-offset-1 vc-od-offset-2">
                      <div class="single_counter_box align-center">
                          <div class="counter_num">
                              <div class="counter_taxt">
                                  <span>client</span>
                              </div>
                              <span class="counter">190</span>
                          </div>
                      </div>
                  </div>
                  <div class="vc-cd-6 vc-sd-5 vc-od-2">
                      <div class="single_counter_box align-center">
                          <div class="counter_num">
                              <div class="counter_taxt">
                                  <span>rooms</span>
                              </div>
                              <span class="counter">200</span>
                          </div>
                      </div>
                  </div>
                  <div class="vc-cd-6 vc-sd-5 vc-sd-offset-1 vc-od-2 vc-od-offset-0">
                      <div class="single_counter_box align-center">
                          <div class="counter_num">
                              <div class="counter_taxt">
                                  <span>stuff</span>
                              </div>
                              <span class="counter">800</span>
                          </div>
                      </div>
                  </div>
                  <div class="vc-cd-6 vc-sd-5 vc-od-2">
                      <div class="single_counter_box align-center">
                          <div class="counter_num">
                              <div class="counter_taxt">
                                  <span>award</span>
                              </div>
                              <span class="counter">150</span>
                          </div>
                      </div>
                  </div> -->
          </div>
      </div>
  </div>
</div>

