<div class="row">
  <div class="col-md-12" data-animate-effect="fadeInLeft">
    <form (ngSubmit)="onSubmit()">
      <mat-progress-bar *ngIf="spinner" mode="indeterminate"></mat-progress-bar>
      <div *ngFor="let msg of msgs" class="text-center">
        <span
          *ngIf="msg.summary"
          [innerHTML]="msg.summary"
          style="color:red;font-weight:bold"
        ></span>

        <span
          *ngIf="msg.detail"
          [innerHTML]="msg.detail"
          style="color:rgb(0, 0, 255);font-weight:bold"
        ></span>
      </div>
      <br />
      <br />
      <br />

      <a style="color:rgb(0, 0, 0);">Booking for</a
      ><a style="color:rgb(6, 32, 198);"> {{ property.name }}</a
      >'s <a style="color:rgb(0, 0, 0);"> {{ room.name }}</a>
      <br />
      <br />
      <div class="form-group">
        <!-- check-in date-->

        <mat-form-field
          class="col-md-6 col-lg-6 col-sm-12 col-xs-12"
          color="accent"
          appearance="outline"
        >
          <input
            matInput
            [matDatepicker]="fromdate"
            placeholder="Check-In"
            [formControl]="bookingFromDate"
            [(ngModel)]="booking.fromDate"
            [min]="todayDate"
            (dateInput)="setCheckOutDate('input', $event)"
            (dateChange)="setCheckOutDate('change', $event)"
            required
          />
          <mat-error *ngIf="!bookingFromDate.valid && bookingFromDate.touched"
            >Check-In date required</mat-error
          >
          <mat-datepicker-toggle matSuffix [for]="fromdate">
            <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #fromdate color="accent"></mat-datepicker>
        </mat-form-field>

        <!-- check-out date-->

        <mat-form-field
          class="col-md-6 col-lg-6 col-sm-12 col-xs-12"
          color="accent"
          appearance="outline"
        >
          <input
            matInput
            [matDatepicker]="todate"
            placeholder="Check-Out"
            [formControl]="bookingToDate"
            [(ngModel)]="booking.toDate"
            [min]="minToDate"
            [max]="maxToDate"
            required
          />
          <mat-error *ngIf="!bookingToDate.valid && bookingToDate.touched"
            >Check-Out date required</mat-error
          >
          <mat-datepicker-toggle matSuffix [for]="todate">
            <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #todate color="accent"></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf="availabilityCheck">
        <!-- First Name-->

        <div class="form-group">
          <mat-form-field
            class="col-md-6 col-lg-6 col-sm-12 col-xs-12"
            color="accent"
            appearance="outline"
          >
            <input
              type="text"
              matInput
              placeholder="First Name"
              [formControl]="firstName"
              [(ngModel)]="booking.firstName"
              required
            />
            <mat-error *ngIf="!firstName.valid && firstName.touched"
              >First Name is required</mat-error
            >
          </mat-form-field>
        </div>

        <!-- Last Name-->

        <div class="form-group">
          <mat-form-field
            class="col-md-6 col-lg-6 col-sm-12 col-xs-12"
            color="accent"
            appearance="outline"
          >
            <input
              type="text"
              matInput
              placeholder="Last Name"
              [formControl]="lastName"
              [(ngModel)]="booking.lastName"
              required
            />
            <mat-error *ngIf="!lastName.valid && lastName.touched"
              >Last Name is required</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div>
        <!-- Email Name-->

        <div *ngIf="availabilityCheck">
          <div class="form-group">
            <mat-form-field
              class="col-md-6 col-lg-6 col-sm-12 col-xs-12"
              color="accent"
              appearance="outline"
            >
              <input
                type="email"
                matInput
                placeholder="Email"
                [formControl]="bookingEmail"
                [(ngModel)]="booking.email"
                required
              />
              <mat-error *ngIf="!bookingEmail.valid && bookingEmail.touched"
                >Invalid Email Address!</mat-error
              >
            </mat-form-field>
          </div>

          <!-- Contact Number-->

          <div class="form-group">
            <mat-form-field
              class="col-md-6 col-lg-6 col-sm-12 col-xs-12"
              color="accent"
              appearance="outline"
            >
              <input
                type="text"
                matInput
                placeholder="Contact Number"
                minlength="11"
                maxlength="13"
                [formControl]="bookingContact"
                [(ngModel)]="booking.mobile"
                required
              />
              <mat-hint>Country Code and phone number +64202020220</mat-hint>
              <mat-error *ngIf="!bookingContact.valid && bookingContact.touched"
                >Invalid Contact Number !</mat-error
              >
              <mat-error *ngIf="bookingContact.minlength"
                >Invalid Contact Number !</mat-error
              >
              <mat-error *ngIf="bookingContact.maxlength"
                >Invalid Contact Number !</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Payment Mode-->
      <div>
        <div *ngIf="booking.available">
          <div class="form-group">
            <mat-form-field
              class="col-md-6 col-lg-6 col-sm-12 col-xs-12"
              appearance="outline"
            >
              <mat-select
                placeholder="Mode of Payment"
                [(ngModel)]="booking.modeOfPayment"
                [formControl]="paymentMode"
                required
              >
                <mat-option
                  *ngFor="let paymentMode of paymentModes"
                  [value]="paymentMode.value"
                >
                  {{ paymentMode.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="!paymentMode.valid && paymentMode.touched"
                >Payment mode is required!</mat-error
              >
            </mat-form-field>
          </div>

          <!-- Amount-->

          <div class="form-group">
            <mat-form-field
              class="col-md-6 col-lg-6 col-sm-12 col-xs-12"
              color="accent"
              appearance="outline"
            >
              <span matPrefix>$&nbsp;</span>
              <input
                type="text"
                matInput
                placeholder="Booking Amount"
                [formControl]="bookingAmount"
                [(ngModel)]="booking.payableAmount"
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Mode of Payment-->
      <div>
        <div *ngIf="booking.modeOfPayment == 'Card'">
          <div class="form-group">
            <mat-form-field
              class="col-md-6 col-lg-6 col-sm-12 col-xs-12"
              color="accent"
              appearance="outline"
            >
              <input
                type="text"
                matInput
                placeholder="Card Number"
                minlength="16"
                maxlength="16"
                pattern="[0-9]{16}"
                [formControl]="cardNumber"
                [(ngModel)]="payment.cardNumber"
                required
              />
              <mat-error *ngIf="!cardNumber.valid && cardNumber.touched"
                >Invalid Card Number!</mat-error
              >
              <mat-error *ngIf="cardNumber.minlength"
                >Card Number must be 16 digits !</mat-error
              >
              <mat-error *ngIf="cardNumber.maxlength"
                >Card Number must be 16 digits !</mat-error
              >
            </mat-form-field>
          </div>

          <!-- CardHolderName of Payment-->

          <div class="form-group">
            <mat-form-field
              class="col-md-6 col-lg-6 col-sm-12 col-xs-12"
              color="accent"
              appearance="outline"
            >
              <input
                type="text"
                matInput
                placeholder="Name On Card"
                [formControl]="cardHolderName"
                [(ngModel)]="payment.cardHolderName"
                required
              />
              <mat-error *ngIf="!cardHolderName.valid && cardHolderName.touched"
                >Cardholder Name is required!</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Expiry month -->

      <div *ngIf="booking.modeOfPayment == 'Card'">
        <div class="form-group">
          <mat-form-field class="col-md-4 col-lg-4 col-sm-12 col-xs-12" color="accent" appearance="outline">
            <mat-select
              placeholder="Expiration Month"
              [(ngModel)]="payment.expMonth"
              [formControl]="expMonth"
            >
              <mat-option *ngFor="let month of months" [value]="month.value">
                {{ month.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!expMonth.valid && expMonth.touched"
              >Card Expiration Month is required!</mat-error
            >
          </mat-form-field>
        </div>

        <!-- Card Expiration-->

        <div class="form-group">
          <mat-form-field class="col-md-4 col-lg-4 col-sm-12 col-xs-12" color="accent" appearance="outline">
            <mat-select
              placeholder="Expiration Year"
              [(ngModel)]="payment.expYear"
              [formControl]="expYear"
              required
            >
              <mat-option *ngFor="let year of years" [value]="year.value">
                {{ year.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!expYear.valid && expYear.touched"
              >Card Expiration Year is required!</mat-error
            >
          </mat-form-field>
        </div>

        <!-- CVV-->

        <div class="form-group">
          <mat-form-field class="col-md-4 col-lg-4 col-sm-12 col-xs-12" color="accent" appearance="outline">
            <input
              type="text"
              minlength="3"
              maxlength="3"
              matInput
              placeholder="CVV"
              [formControl]="cvv"
              pattern="[0-9]{3}"
              [(ngModel)]="payment.cvv"
              required
            />
            <mat-error *ngIf="!cvv.valid && cvv.touched"
              >Invalid CVV!</mat-error
            >
            <mat-error *ngIf="cvv.minlength || cvv.maxlength"
              >CVV must be of 3 digits !</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div>
        <div class="form-group">
          <!--mat-spinner *ngIf="spinner"></mat-spinner-->
          <button
            mat-raised-button
            type="button"
            (click)="submit()"
            color="accent"
            [disabled]="spinner"
          >
            {{ bookingButtonLabel }}
          </button>
          &nbsp;&nbsp;
          <button
            mat-raised-button
            type="button"
            (click)="reset()"
            color="accent"
            [disabled]="spinner"
          >
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
