<!-- <header class="pb hp_5 static">
  <div class="container-fluid">
    <div class="ttop_header">
      <ul class="social-links">
        <li *ngIf="property.facebook">
          <a href="https://fb.com/{{ property.facebook }}" target="_blank" title=""><i class="fa fa-facebook"></i></a>
        </li>
        <li *ngIf="property.twitter">
          <a href="https://twitter.com/{{ property.twitter }}" target="_blank" title=""><i
              class="fa fa-twitter"></i></a>
        </li>
        <li *ngIf="property.instagram">
          <a href="https://instagram.com/{{ property.instagram }}" target="_blank" title=""><i
              class="fa fa-instagram"></i></a>
        </li>

      </ul>
      <div class="cont-lit">
        <h4>{{ property.mobile }}</h4>
      </div>
      <ul class="cont-list">
        <li *ngIf="weatherData !== ''">
          {{ property.address.city }}
          <img src="assets/images/icon9.png" alt="" />{{
            weatherData.weather[0].main
          }}, {{ weatherData.main.temp }} °C / feels like
          {{ weatherData.main.feels_like }} °C
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="bbtm-header">
      <div class="ft-logo">
        <a routerLink="/" title="">
          <img src="assets/images/logo.jpg" alt="" />

        </a>
      </div>
      <nav>
        <ul>
          <li><a routerLink="/" title="">Home</a></li>
          <li>
            <a routerLink="/rooms" title="">Rooms</a>
            <ul>
              <li *ngFor="let room of rooms">
                <a routerLink="/rooms/details/{{ room.id }}" title="{{ room.name }}">{{ room.name }}</a>
              </li>
            </ul>
          </li>
          <li><a routerLink="/about" title="">About Us</a></li>
          <li><a routerLink="/policy" title="">Rules & Policies</a></li>
          <li><a routerLink="/contact" title="">Contact</a></li>
        </ul>
      </nav>
      <div class="menu-bar">
        <a href="#" title="">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </a>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</header>

<div class="responsive_mobile_menu">
  <div class="resp_head">
    <div class="ft-logo">
      <a href="index.html" title="{{ property.name }}">
        <img src="assets/images/logo.jpg" alt="" />
        <div class="ft-text">
          <h2>{{ property.name }}</h2>
          <h3>{{ property.slogan }}</h3>
        </div>
      </a>
    </div>
    <div class="menu-bar">
      <a href="#" title="">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="ct_head">
    <h3>{{ property.mobile }}</h3>
    <div class="lang-slct">
    </div>
  </div>
  <div class="navigations">
    <ul>
      <li><a class="active" routerLink="/" title="">Home</a></li>
      <li>
        <a routerLink="/rooms" title="">Rooms</a>
        <ul>
          <li *ngFor="let room of rooms">
            <a routerLink="/rooms/details/{{ room.id }}" title="{{ room.name }}">{{ room.name }}</a>
          </li>
        </ul>
      </li>
      <li><a routerLink="/about" title="">About Us</a></li>
      <li><a routerLink="/policy" title="">Rules & Policies</a></li>
      <li><a routerLink="/contact" title="">Contact</a></li>
    </ul>
  </div>
  <ul class="mbl_contact_info">
    <li>
      {{ property.address.streetNumber }} {{ property.address.streetName }},
      {{ property.address.suburb }}, {{ property.address.city }},
      {{ property.address.postcode }}
    </li>
    <li><a href="/contact" title="Contact">Map</a></li>
    <li>{{ property.email }}</li>
  </ul>
</div> -->




<div class="preloader">
  <div class="loader">
    <span class="inner-loader">
      Luxury
    </span>
  </div>
</div>

<header class="navbar-fixed">

  <div class="toolbar-inner-area sticky-navbar" data-sticky-offset="50">
    <div class="holder">
      <div class="hr">
        <div class="vc">
          <div class="toolbar_contact align-right">
            <div class="contact_phone">

              <span>{{ property.mobile }}</span>
            </div>
            <div class="toolbar_social_area">
              <ul class="icon_list">
                <li *ngIf="weatherData !== ''">
                  {{ property.address.city }}
                  <img src="assets/images/icon9.png" alt="" />{{
                    weatherData.weather[0].main
                  }}, {{ weatherData.main.temp }} °C / feels like
                  {{ weatherData.main.feels_like }} °C
                </li>
              </ul>
              <ul class="icon_list">
                <li *ngIf="property.facebook">
                  <a href="https://fb.com/{{ property.facebook }}" target="_blank" title=""><i
                      class="fa fa-facebook"></i></a>
                </li>
                <li *ngIf="property.twitter">
                  <a href="https://twitter.com/{{ property.twitter }}" target="_blank" title=""><i
                      class="fa fa-twitter"></i></a>
                </li>
                <li *ngIf="property.instagram">
                  <a href="https://instagram.com/{{ property.instagram }}" target="_blank" title=""><i
                      class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


  <div class="navbar_inner_area">
    <nav class="navigation-area overlay sticky-navbar fadeInUp" data-sticky-offset="50">
      <div class="holder">
        <div class="menu_toggle">
          <i class="fa fa-align-left"></i>
        </div>
        <a href="index.html" class="brand-logo">
          <img src="assets/images/logo.png" alt="logo">
        </a>
        <div class="navbar-mobile">
          <ul class="navbar-nav single-item-right">

            <li><a routerLink="/" title="">Home</a></li>
            <li class="DpSign">
              <a href="#" title="">Rooms</a>
              <ul class="DropDown">
                <li><a routerLink="/rooms" title="">Rooms List</a></li>
                <li *ngFor="let room of rooms">
                  <a routerLink="/rooms/details/{{ room.id }}" title="{{ room.name }}">{{ room.name }}</a>
                </li>
              </ul>
            </li>
            <li><a routerLink="/about" title="">About Us</a></li>
            <li><a routerLink="/policy" title="">Rules & Policies</a></li>
            <li><a routerLink="/contact" title="">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</header>
