<section
  class="vid cbiz-bg"
  style="background-image: url('assets/images/bg/vid.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h1 class="title"><a>Our</a> <a> Policies</a></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="aboutus-page-section spad">
  <div class="container">
    <div class="about-us-sec about-pg">
      <div class="row">
        <div class="col-lg-6">
          <div class="ap-title">
            <p></p>
            <h2>Hotel Policies :</h2>
            <p></p>
            <br /><br />

            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
              <div class="booking-form">
                <form action="#">
                  <div class="check-date">
                    <label for="date-in"
                      ><b>Check In - (12:00 O'clock) </b></label
                    >
                  </div>
                  <div class="check-date">
                    <label for="date-out"><b>Check Out - (11:00 AM) </b></label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <ul>
          <li>Couples are welcome</li>
          <br />
          <li>
            Guests can check in using any local or outstation ID proof (PAN card
            not accepted).
          </li>
          <br />
          <li>As a complimentary benefit, your stay is now insured by Acko.</li>
          <br />
          <li>
            This hotel is serviced under the trade name of Hotel Space Setter as
            per quality standards of Hotel Space Setter
          </li>
          <br />
        </ul>
      </div>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <h2>Facilities Are....</h2>
      <br />
      <ul class="ap-services">
        <li><i class="fa fa-check"></i>Free Wifi</li>
        <li><i class="fa fa-check"></i>AC</li>
        <li><i class="fa fa-check"></i>Elevator</li>
        <li><i class="fa fa-check"></i>Power backup</li>
        <li><i class="fa fa-check"></i>King Sized Bed</li>
        <li><i class="fa fa-check"></i> Mini Fridge</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="blog-details-text">
          <div class="bd-title">
            <h1><b>Guest Policies...</b></h1>
            <br />
            <h3><b>General Terms and Conditions</b></h3>
            <br />
            <ul>
              <li>
                The primary guest must be at least 18 years of age to be able to
                check into the hotel.
              </li>
              <br />
              <li>
                It is mandatory for guests to present valid photo identification
                at the time of check-in. According to government regulations, a
                valid Photo ID has to be carried by every person above the age
                of 18 staying at the hotel. The identification proofs accepted
                are Aadhar Card, Driving License, Voter ID Card, and Passport.
                Without Original copy of valid ID the guest will not be allowed
                to check-in.
              </li>
              <br />
              <li>PAN card is not accepted as a valid ID card.</li>
              <br />
              <li>
                Stay of 1 child up to 5 years of age is complementary without
                the use of extra mattress. Breakfast charges may be applicable
                for the child.
              </li>
              <br />
              <li>
                Extra mattress will be provided for triple occupancy bookings.
              </li>
              <br />
              <li>Pets are not allowed in the hotel premises.</li>
              <br />
              <li>
                Should any action by a guest be deemed inappropriate by the
                hotel, or if any inappropriate behaviour is brought to the
                attention of the hotel, the hotel reserves the right, after the
                allegations have been investigated, to take action against the
                guest.
              </li>
              <br />
              <li>
                Certain destinations may have different policies for specific
                times during the year.
              </li>
              <br />
              <li>
                Guests shall be liable for any damage, except normal wear and
                tear to Hotel asset. Guest shall keep the Hotel room in a good
                condition and maintain hygiene and cleanliness.
              </li>
              <br />
              <li>
                Certain policies are booking specific and are informed to the
                customer while making the booking.
              </li>
              <br />
              <li>
                No Smoking Policy for Hotel Space Setter Townhouse: We really
                take pride in keeping all our rooms fresh and clean, and
                discourage smoking in the rooms. In case guests wish to smoke,
                the Hotel Reception will be happy to help.
              </li>
              <br />
              <li>
                Guests may be contacted closer to their check-in date to confirm
                the arrival status or arrival time through calls or messages. In
                case, we do not receive a response from the guest after multiple
                attempts, the booking may be put on hold or cancelled. In case
                of availability, Hotel Space Setter will try to reinstate your
                booking when you contact us back or make a payment through our
                multitude of payment options.
              </li>
              <br />
              <li>
                As we continue to strive to improve our services, Hotel Space
                Setter may reach out to guests to get a feedback of their
                experience through calls or messages.
              </li>
              <br />
              <li>We might reach out to you for offers.</li>
              <br />
              <li>
                Oravel Hotels &amp; Homes Private Limited (“Hotel Space Setter”)
                or any of its affiliates does not authorize any of its
                employees, consultants, third-party vendors, associates to
                contact its guests via any mode of communication &amp; offer
                promotional discounts in exchange for solicitation of
                monies/payments or other monetary transfers into digital wallets
                or bank accounts. Such instances are acts of fraud. Encountering
                &amp; acting on the same is solely based on your own accord
                &amp; discretion. Neither Hotel Space Setter nor any of its
                affiliates/employees or associates will be responsible for any
                loss/liability arising out of such an event to any individual
                whatsoever.
              </li>
              <br />
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="blog-details-text">
            <div class="bd-title">
              <h3><b>Booking Extension Policy</b></h3>
              <br />
              <ul>
                <li>
                  Extension of stay would be provided on current room rates,
                  subject to availability.
                </li>
                <br />
                <li>
                  Current room rates can be different from the rates at which
                  the rooms were booked.
                </li>
                <br />
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="blog-details-text">
            <div class="bd-title">
              <h2><b>Cancellation Policy</b></h2>
              <br />
              <h3>
                <b
                  >Cancelling an Hotel Space Setter is as fast and easy as
                  booking one.</b
                >
              </h3>
              <br />
              <p>
                We would love to host you but in case your plans change, our
                simple cancellation process makes sure you receive a quick
                confirmation and fast refunds. Our standard check-in time is 12
                noon and you can check-in any time after that till your
                reservation is valid.
              </p>
              <p>
                We do not charge cancellation fees for bookings cancelled within
                10 minutes of creating the same booking. Any amount paid will be
                refunded.
              </p>
              <p>
                Our cancellation policy changes depending on the city and dates
                being booked and is mentioned on the hotel details page on our
                website and app before making a booking. Please refer to the
                screenshots below highlighting the cancellation policy text.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="blog-details-text">
            <div class="bd-title">
              <h3><b>Payment Policy</b></h3>
              <br />
              <p>
                For bookings of more than 7 nights, guests have to settle all
                outstanding payments on a weekly basis. Hotel will be unable to
                provide further accommodation prior to settlement of the
                outstanding amount.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="blog-details-text">
            <div class="bd-title">
              <h3><b>Booking Extension Policy</b></h3>
              <br />
              <ul>
                <li><i class="fa fa-check"></i>Cancellation Policy</li>
                <br />
                <li><i class="fa fa-check"></i>No Unmarried Couples Allowed</li>
                <br />
                <li>
                  <i class="fa fa-check"></i>Guests can check in using any
                  Government issued ID Proof.
                </li>
                <br />
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="blog-details-text">
            <div class="bd-title">
              <h3><b>Insurance</b></h3>
              <br />
              <p>
                Travel Insurance provided as a part of Hotel Space Setter's
                services shall be as per the terms and conditions of the
                third-party insurance company, Acko General Insurance
                (hereinafter “Acko”). Acko coverage shall only be applicable for
                check-ins to Hotel Space Setter Hotels, Hotel Space Setter Home,
                Hotel Space Setter Townhouse and Collection O establishments on
                bookings made only via the Hotel Space Setter App, website,
                mobile website, direct bookings and/or walk-ins. The list of
                Hotel Space Setter establishments covered by Acko may be changed
                from time without any intimation to you. Hotel Space Setter
                merely acts as a facilitator in connecting you with Acko. You
                shall contact Acko directly for any claims or disputes. Hotel
                Space Setter shall not be held liable in case of partial
                acceptance or denial of the claims by Acko and Hotel Space
                Setter has no role or liability in claims settlement.
              </p>
              <p>
                It is clarified that a claim raised under the relevant insurance
                policy would act as a bar against any endorsement in the policy
                which would include but not be limited to changes relating to
                extension/curtailment of stay period and addition/deletion of
                guests covered under the policy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
