<section
  class="vid cbiz-bg"
  style="background-image: url('assets/images/bg/vid.jpg');"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h2 class="title">
            <a style="color:rgb(255, 255, 255);">Our</a
            ><a style="color:rgb(255, 0, 0);"> Policies</a>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <div class="video-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam. quis nostrud.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
