<section class="vid cbiz-bg" style="background-image: url('assets/images/bg/vid.jpg')">
  <div class="container">
    <div class="row">
      <div class="policy col-sm-12 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="section-heading">
          <h1 class=" title"><a>Our</a> <a> Rules & Policies</a></h1>
        </div>
        <div class="container">
          <div *ngFor="let bServiceDtoList of property.businessServiceDtoList">
            <div class=" pb-1 mb-3">
              <h2 class="mt-1">{{bServiceDtoList.name }}</h2>
              <div class="w-100 " *ngIf="bServiceDtoList.policy == undefined">
                <p>No data available!</p>
              </div>
              <div  *ngIf="bServiceDtoList.policy !== undefined">
                <div class="policy mx-2" [innerHTML]="bServiceDtoList.policy"></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

